/**
 * Modules
 * --------------------------------------------------
 */

iframe[data-module] {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.ag__module-container.hidden {
  display: none;
}

[data-module-load-indicator] {
  text-align: center;
  margin-bottom: 10px;
  display: block;
}

.super-module__load-indicator {
  position: relative;
  text-align: center;
  display: inline-block;
  margin: 0px auto;
  padding: 4px 10px;
  border-radius: 4px;
}

/**
 * Modules in tabbed view
 * --------------------------------------------------
 */

.module-tabset__tab-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 47px;
  z-index: 5;
  background: white;
  border-bottom: 1px solid #CCC;
}

.module-tabset__tab-bar__fader-left {
  position: absolute;
  top: 15px;
  bottom: 10px;
  width: 15px;
  left: 0px;
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0.1) 100%);
  z-index: 10;
}

.module-tabset__tab-bar__fader-right {
  position: absolute;
  top: 15px;
  bottom: 10px;
  right: 0px;
  width: 30px;
  background: linear-gradient(to left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.1) 100%);
  z-index: 10;
}

.module-tabset__tab-bar > ul {
  position: relative;
  list-style-type: none;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  padding-right: 15px;
  padding-bottom: 10px;
  -webkit-overflow-scrolling: touch;
}

.module-tabset__tab-bar > ul > li {
  display: inline-block;
  padding: 15px;
}

.module-tabset__tab-bar > ul > li > a {
  font-weight: 700;
  color: #36383b;
  border: none;
  border-bottom: 2px solid transparent;
  text-transform: uppercase;
  font-size: 12px;
  padding-bottom: 4px;
  transition: color 100ms ease-in-out;
  text-decoration: none;
  opacity: 0.7;
}

.module-tabset__tab-bar > ul > li.active > a {
  border-color: #00b5ff;
  opacity: 1;
}

.module-tabset__content {
  padding-top: 47px;
}

.module-tabset__pane {
  display: none;
}

.module-tabset__pane.active {
  display: block;
}

/* override chrome header color with little darker */
.chrome-header {
  background-color: #EEEEEE;
}

/* make cards wide as screen */
div.module-tabset__content > div.module-tabset__pane > div.chrome-card {
  margin: 0;
  box-shadow: none;
}

/* remove chrome card from tabs */
div.module-tabset__content > div.module-tabset__pane:nth-child(n+2) > div > div.item.item-divider.chrome-header {
  display: none;
}

div.module-tabset__content > div.module-tabset__pane:nth-child(n+2) > div.chrome-card {
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0;
}

div.module-tabset__content > div.module-tabset__pane:nth-child(n+2) > div.chrome-card > div.item.item-text-wrap {
  border-bottom-left-radius: none;
  border-bottom-right-radius: none;
  border-top-left-radius: none;
  border-top-right-radius: none;
  border-width: 0px;
  border-style: none;
}
