/**
 * Web Component
 * --------------------------------------------------
 */

 // Super Navigation Bar
// -------------------------

super-navigation-bar > * {
  display:none;
}

super-navigation-bar-title > * {
  display:none;
}

super-right-buttons > * {
  display:none;
}

super-left-buttons > * {
  display:none;
}

super-navigation-bar-button > * {
  display:none;
}
