/**
 * Web Component
 * --------------------------------------------------
 */

 // Super Navigation Bar
// -------------------------

super-navbar > * {
  display:none;
}

super-navbar-title > * {
  display:none;
}

super-navbar-button > * {
  display:none;
}
