<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      Web Components
    </super-navbar-title>
  </super-navbar>

  <ul>
    <super-navigate location="webComponents#navigate">
      <li class="item item-icon-right">
        <code>&lt;super-navigate&gt;</code> <i class="icon super-ios7-arrow-right"></i>
      </li>
    </super-navigate>
    <super-navigate location="webComponents#navigate" action="touchmove">
      <li class="item item-icon-right">
        <code>&lt;super-navigate&gt; with touchmove</code> <i class="icon super-ios7-arrow-right"></i>
      </li>
    </super-navigate>
    <super-modal-show location="webComponents#modal">
      <li class="item item-icon-right">
        <code>&lt;super-modal-show&gt;</code> <i class="icon super-ios7-arrow-right"></i>
      </li>
    </super-modal-show>
    <super-modal-show location="webComponents#modal" action="touchmove">
      <li class="item item-icon-right">
        <code>&lt;super-modal-show&gt; with touchmove</code> <i class="icon super-ios7-arrow-right"></i>
      </li>
    </super-modal-show>
    <super-modal-show location="webComponents#data-repeat">
      <li class="item item-icon-right">
        <code>&lt;super-data-repeat&gt;</code> <i class="icon super-ios7-arrow-right"></i>
      </li>
    </super-navigate>
  </ul>
</div>
