<div ng-controller="IndexController">
  <ss-navigation-bar>
    <ss-navigation-bar-title>
      Web Components
    </ss-navigation-bar-title>
  </ss-navigation-bar>

  <ul>
    <super-navigate action="click" url="/app/webComponents/navigate.html">
      <li class="item item-icon-right">
        <code>&lt;super-navigate&gt;</code> <i class="icon ion-ios7-arrow-right"></i>
      </li>
    </super-navigate>
    <super-show-modal action="click" route="/app/webComponents/modal.html">
      <li class="item item-icon-right">
        <code>&lt;super-modal-show&gt;</code> <i class="icon ion-ios7-arrow-right"></i>
      </li>
    </super-show-modal>
  </ul>
</div>
