<div ng-controller="ModalController">
  <super-navbar>
    <super-navbar-title>
      Modal
    </super-navbar-title>
  </super-navbar>

  <ul>
    <super-modal-hide>
      <li class="item item-icon-right">
        <code>&lt;super-modal-hide&gt;</code> <i class="icon super-ios7-arrow-right"></i>
      </li>
    </super-modal-hide>
    <super-modal-hide action="touchmove">
      <li class="item item-icon-right">
        <code>&lt;super-modal-hide&gt; with touchmove</code> <i class="icon super-ios7-arrow-right"></i>
      </li>
    </super-modal-hide>
  </ul>
</div>
