<div ng-controller="ModalController">
  <super-navbar>
    <super-navbar-title>
      Modal
    </super-navbar-title>
  </super-navbar>

  <ul>
    <super-hide-modal>
      <li class="item item-icon-right">
        <code>&lt;super-hide-modal&gt;</code> <i class="icon ion-ios7-arrow-right"></i>
      </li>
    </super-hide-modal>
    <super-hide-modal action="touchmove">
      <li class="item item-icon-right">
        <code>&lt;super-hide-modal&gt; with touchmove</code> <i class="icon ion-ios7-arrow-right"></i>
      </li>
    </super-hide-modal>
  </ul>
</div>
