<div ng-controller="NavigateController">
  <super-navbar>
    <super-navbar-title>
      Navigate
    </super-navbar-title>
  </super-navbar>

  <ul>
    <super-navigate-back>
      <li class="item item-icon-right">
        <code>&lt;super-navigate-back&gt;</code> <i class="icon ion-ios7-arrow-right"></i>
      </li>
    </super-navigate-back>
    <super-navigate-back action="touchmove">
      <li class="item item-icon-right">
        <code>&lt;super-navigate-back&gt; with touchmove</code> <i class="icon ion-ios7-arrow-right"></i>
      </li>
    </super-navigate-back>
  </ul>
</div>
