<div ng-controller="NavigationBarController" class="padding">

  <super-navbar>
    <super-navbar-title ng-bind="navBarTitle"></super-navbar-title>
    <super-navbar-button side="left">Left</super-navbar-button>
    <super-navbar-button side="right">Right</super-navbar-button>
  </super-navbar>

  <button class="button button-positive" ng-click="showNav()">SHOW NAV BAR</button>
  <button class="button button-assertive" ng-click="hideNav()">HIDE NAV BAR</button>
  <hr>
  <button class="button button-positive" ng-click="setNavBarTitle()">SET NAV BAR TITLE</button>
  <button class="button button-assertive" ng-click="removeNavBarTitle()">REMOVE NAV BAR TITLE</button>

  <div class="list">
    <label class="item item-input">
      <input class="text" ng-model="navBarTitle" />
    </label>
  </div>
  <hr>
</div>
