<div ng-controller="NavigateController">
  <super-navbar>
    <super-navbar-title>
      Navigate
    </super-navbar-title>
  </super-navbar>

  <ul>
    <super-navigate-back>
      <li class="item item-icon-right">
        <code>&lt;super-navigate-back&gt;</code> <i class="icon super-ios7-arrow-right"></i>
      </li>
    </super-navigate-back>
    <super-navigate-back action="touchmove">
      <li class="item item-icon-right">
        <code>&lt;super-navigate-back&gt; with touchmove</code> <i class="icon super-ios7-arrow-right"></i>
      </li>
    </super-navigate-back>
    <super-navigate view-id="navigate-result" params='{"id": "1"}'>
      <li class="item item-icon-right">
        <code>&lt;super-navigate params 1&gt;</code> <i class="icon super-ios7-arrow-right"></i>
      </li>
    </super-navigate>
    <super-navigate view-id="navigate-result" params='{"id": "2"}'>
      <li class="item item-icon-right">
        <code>&lt;super-navigate params 2&gt;</code> <i class="icon super-ios7-arrow-right"></i>
      </li>
    </super-navigate>
    <super-navigate location="webComponents#navigate_result" params='{"id": "3"}' >
      <li class="item item-icon-right">
        <code>&lt;super-navigate params 3&gt;</code> <i class="icon super-ios7-arrow-right"></i>
      </li>
    </super-navigate>
  </ul>
</div>
