<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      Device tests
    </super-navbar-title>
  </super-navbar>

  <div class="card padding">
    <h1>Device ready</h1>
    <button class="button button-block" ng-click="deviceReady()">
      Is it?
    </button>
  </div>

  <div class="card padding">
    <h1>geolocation.watchPosition tests</h1>
    <button
      class="button button-block"
      ng-repeat="test in watchPositionTests"
      ng-click="testWatchPosition(test.options)">
      {{test.title}}
    </button>
    <ul>
      <li>Latest position received: {{watchPosition}}</li>
    </ul>
  </div>

  <div class="card padding">
    <h1>geolocation.getPosition tests</h1>
    <button class="button button-block" ng-repeat="test in getPositionTests"  ng-click="testGetPosition(test.options)">
      {{test.title}}
    </button>
    <ul>
      <li>Latest position received: {{latestPosition}}</li>
    </ul>
  </div>

  <div class="card padding">
    <h1>accelerometer.watchAcceleration tests</h1>
    <button
      class="button button-block"
      ng-repeat="test in watchAccelerationTests"
      ng-click="testWatchAcceleration(test.options)">
      {{test.title}}
    </button>
    <ul>
      <li>Latest acceleration received: {{watchAcceleration}}</li>
    </ul>
  </div>

  <div class="card padding">
    <h1>accelerometer.getAcceleration tests</h1>
    <button class="button button-block" ng-repeat="test in getAccelerationTests"  ng-click="testGetAcceleration(test.options)">
      {{test.title}}
    </button>
    <ul>
      <li>Latest acceleration received: {{latestAcceleration}}</li>
    </ul>
  </div>

  <div class="card padding">
    <h1>compass.watchHeading tests</h1>
    <button
      class="button button-block"
      ng-repeat="test in watchHeadingTests"
      ng-click="testWatchHeading(test.options)">
      {{test.title}}
    </button>
    <ul>
      <li>Latest heading received: {{watchHeading}}</li>
    </ul>
  </div>

  <div class="card padding">
    <h1>compass.getHeading tests</h1>
    <button class="button button-block" ng-repeat="test in getHeadingTests"  ng-click="testGetHeading(test.options)">
      {{test.title}}
    </button>
    <ul>
      <li>Latest heading received: {{latestHeading}}</li>
    </ul>
  </div>

  <div class="card padding">
    <h1>platform tests</h1>
    <button class="button button-block" ng-repeat="test in platformTests"  ng-click="testPlatform()">
      {{test.title}}
    </button>
    <ul>
      <li>Platform name: {{platformName}}</li>
      <li>Platform version: {{platformVersion}}</li>
      <li>Platform model: {{platformModel}}</li>
    </ul>
  </div>

  <div class="card padding">
    <h1>vibrate tests</h1>
    <button class="button button-block" ng-repeat="test in vibrateTests"  ng-click="testVibrate()">
      {{test.title}}
    </button>
    <ul>
      <li>Number of vibrations: {{vibrations}}</li>
    </ul>
  </div>

</div>
