<div ng-controller="IndexController">
  <ss-navigation-bar>
    <ss-navigation-bar-title>Notification tests</ss-navigation-bar-title>
  </ss-navigation-bar>

  <div class="card padding">
    <h1>Alert tests</h1>
    <button
      class="button button-block"
      ng-repeat="test in alertTests"
      ng-click="testAlert(test.message, test.options)">
      {{test.title}}
    </button>
    <p>Number of alerts dismissed: {{dismissedAlerts}}</p>
  </div>

  <div class="card padding">
    <h1>Confirm tests</h1>
    <button
      class="button button-block"
      ng-repeat="test in confirmTests"
      ng-click="testConfirm(test.message, test.options)">
      {{test.title}}
    </button>
    <ul>
      <li>Number of confirms okay'd: {{confirms[0]}}</li>
      <li>Number of confirms denided: {{confirms[1]}}</li>
      <li>Number of confirm third options: {{confirms[2]}}</li>
    </ul>
  </div>

  <div class="card padding">
    <h1>Vibrate tests</h1>
    <button class="button button-block" ng-repeat="test in vibrateTests"  ng-click="testVibrate(test.options)">
      {{test.title}}
    </button>
    <ul>
      <li>Number of vibrations: {{vibrations}}</li>
    </ul>
  </div>

  <div class="card padding">
    <h1>Prompt tests</h1>
    <button class="button button-block" ng-repeat="test in promptTests"  ng-click="testPrompt(test.options)">
      {{test.title}}
    </button>
    <ul>
      <li>Button index: {{buttonIndex}}</li>
      <li>Input: {{input}}</li>
    </ul>
  </div>
</div>
