<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>Notification tests</super-navbar-title>
  </super-navbar>

  <div class="card padding">
    <h1>Alert tests</h1>
    <button
      class="button button-block"
      ng-repeat="test in alertTests"
      ng-click="testAlert(test.title, test.options)">
      {{test.testTitle}}
    </button>
    <p>Number of alerts dismissed: {{dismissedAlerts}}</p>
  </div>

  <div class="card padding">
    <h1>Confirm tests</h1>
    <button
      class="button button-block"
      ng-repeat="test in confirmTests"
      ng-click="testConfirm(test.title, test.options)">
      {{test.testTitle}}
    </button>
    <ul>
      <li>Number of confirms okay'd: {{confirms[0]}}</li>
      <li>Number of confirms denided: {{confirms[1]}}</li>
      <li>Number of confirm third options: {{confirms[2]}}</li>
    </ul>
  </div>

  <div class="card padding">
    <h1>Prompt tests</h1>
    <button class="button button-block" ng-repeat="test in promptTests"  ng-click="testPrompt(test.title, test.options)">
      {{test.testTitle}}
    </button>
    <ul>
      <li>Button index: {{buttonIndex}}</li>
      <li>Input: {{input}}</li>
    </ul>
  </div>
</div>
