<ss-navigation-bar>
  <ss-navigation-bar-title>Automated tests</ss-navigation-bar-title>
</ss-navigation-bar>

<ul class="list">
  <super-navigate location="/app/angular/AngularSpecs.html">
    <li class="item">
      supersonic.angular
    </li>
  </super-navigate>
  <super-navigate location="/app/debug/DebugSpec.html">
    <li class="item">
      supersonic.debug
    </li>
  </super-navigate>
  <super-navigate location="/app/notification/NotificationSpec.html">
    <li class="item">
      supersonic.notification
    </li>
  </super-navigate>
  <super-navigate location="/app/app/AppSpec.html">
    <li class="item">
      supersonic.app
    </li>
  </super-navigate>
  <super-navigate location="/app/device/DeviceSpec.html">
    <li class="item">
      supersonic.device
    </li>
  </super-navigate>
  <super-navigate location="/app/media/MediaSpec.html">
    <li class="item">
      supersonic.media
    </li>
  </super-navigate>
  <super-navigate location="/app/ui/UISpec.html">
    <li class="item">
      supersonic.ui
    </li>
  </super-navigate>
  <super-navigate location="/app/network/NetworkSpec.html">
    <li class="item">
      Network
    </li>
  </super-navigate>
  <super-navigate location="/app/web-components/WebComponentsSpec.html">
    <li class="item">
      Web Components
    </li>
  </super-navigate>
</ul>
