<super-navbar>
  <super-navbar-title>Automated tests</super-navbar-title>
</super-navbar>

<ul class="list">
  <super-navigate location="angular#AngularSpecs">
    <li class="item">
      supersonic.angular
    </li>
  </super-navigate>
  <super-navigate location="debug#DebugSpec">
    <li class="item">
      supersonic.debug
    </li>
  </super-navigate>
  <super-navigate location="notification#NotificationSpec">
    <li class="item">
      supersonic.notification
    </li>
  </super-navigate>
  <super-navigate location="app#AppSpec">
    <li class="item">
      supersonic.app
    </li>
  </super-navigate>
  <super-navigate location="device#DeviceSpec">
    <li class="item">
      supersonic.device
    </li>
  </super-navigate>
  <super-navigate location="media#MediaSpec">
    <li class="item">
      supersonic.media
    </li>
  </super-navigate>
  <super-navigate location="ui#UISpec">
    <li class="item">
      supersonic.ui
    </li>
  </super-navigate>
  <super-navigate location="network#NetworkSpec">
    <li class="item">
      Network
    </li>
  </super-navigate>
  <super-navigate location="web-components#WebComponentsSpec">
    <li class="item">
      Web Components
    </li>
  </super-navigate>
</ul>
