<ss-navigation-bar>
  <ss-navigation-bar-title>Automated tests</ss-navigation-bar-title>
</ss-navigation-bar>

<ul class="list">
  <ss-magic action="click" navigate="/app/angular/AngularSpecs.html">
    <li class="item">
      supersonic.angular
    </li>
  </ss-magic>
  <ss-magic action="click" navigate="/app/debug/DebugSpec.html">
    <li class="item">
      supersonic.debug
    </li>
  </ss-magic>
  <ss-magic action="click" navigate="/app/notification/NotificationSpec.html">
    <li class="item">
      supersonic.notification
    </li>
  </ss-magic>
  <ss-magic action="click" navigate="/app/app/AppSpec.html">
    <li class="item">
      supersonic.app
    </li>
  </ss-magic>
  <ss-magic action="click" navigate="/app/device/DeviceSpec.html">
    <li class="item">
      supersonic.device
    </li>
  </ss-magic>
  <ss-magic action="click" navigate="/app/media/MediaSpec.html">
    <li class="item">
      supersonic.media
    </li>
  </ss-magic>
</ul>
