/**
  *  PLEASE NOTE: Native UI CSS styling is still in beta and we are still
  *               changing it around and creating the possibility to apply
  *               different styles to Android and iOS.
  *
  *               Please follow https://github.com/AppGyver/steroids/issues/558
  **/



/* --- Tab Bar --- */

tab-bar {
  background-color: #ffffff;
  border-top: 1px #D8D8D8 solid;
}

tab-bar tab-bar-item {
  color: #b0b1b4;
  font-family: "Avenir";
  font-size: 10px;
}

tab-bar tab-bar-item:selected {
  color: #1596f7;
  background-color: #F2F2F2; /* Android only */
}

/* Vertical separator between tab items (Android Only) */
tab-bar divider {
  background-color: #D8D8D8;
}

/* Tab Bar top marker (Android Only) */
tab-bar tab-bar-item marker-top:selected {
  background-color: #1596f7;
}



/* --- Navigation Bar --- */

navigation-bar {
  background-color: #000000;
}

navigation-bar title {
  color: #ffffff;
  font-size: 20px;
}

navigation-bar back-bar-button {
  color: #ffffff;
  font-size: 16px;
}















freestyle-config {
  parse-error-destination: console;
  cache-styles: auto;
  image-cache-count: 100;
}

/* Tab Bar */
tab-bar {
  background-color: #EBEBEB;
}

/* vertical separator between tab items (Android Only) */
tab-bar divider {
  background-color: #D8D8D8;
}

/* top and bottom markers (Android Only) */
tab-bar tab-bar-item marker-top {
  background-color: #00ffffff;
}

tab-bar tab-bar-item marker-top:selected {
  background-color: #0299CC;
}

tab-bar tab-bar-item marker-bottom {
  background-color: #00ffffff;
}

/*
tab-bar tab-bar-item marker-bottom:selected {
  background-color: green;
}
*/

tab-bar tab-bar-item {
  font-family: "Avenir";
  font-size: 10px;
  color: #3E3E3E;
}

/*
 For now.. there is a separator between each tabItem.. so the first tabItem is index 0,
 but the second is index 2 (since index 1 is the separator ) .. and the third element is index 4..
 and etc

tab-bar tab-bar-item:nth-child(0) image {
  background-image: url(icons/apple_colorfull.png);
}

tab-bar tab-bar-item:nth-child(2) image {
  background-image: url(icons/shoebox@2x.png);
}

tab-bar tab-bar-item:nth-child(4) image {
  background-image: url(icons/telescope@2x.png);
}
*/

/*
 Another way to configure individual tab items is to use
 the Id defined int he application.coffee
*/
#firstTab image {
    background-image: url(icons/apple_colorfull.png);
}

#secondtTab image {
    background-image: url(icons/shoebox@2x.png);
}

#thirdTab image {
    background-image: url(icons/telescope@2x.png);
}

tab-bar tab-bar-item:selected {
  color: #111111;
}

tab-bar tab-bar-item image:selected {
  background-image: url(icons/pill@2x.png);
}


tab-bar tab-bar-item:pressed {
  color: blue;
}



navigation-bar {
  background-color: #ff0000;
}

navigation-bar title {
  color: #363636;
  font-size: 20px;
}

navigation-bar back-indicator {
  background-image: url(default_back_icon.png);
  background-size: 22;
}

navigation-bar back-bar-button {
  color: green;
}

navigation-bar back-bar-button:pressed {
  color: blue;
}

navigation-bar left-bar-button {
  border-radius       : 5px;
  font-family         : "American Typewriter";
  font-weight         : bold;
  font-size           : 12px;
  font-weight         : normal;
  color               : #ffffff;
  background-color    : #008ed4;
}

navigation-bar right-bar-button {
  border-radius       : 5px;
  font-family         : "American Typewriter";
  font-weight         : bold;
  font-size           : 14px;
  font-weight         : normal;
  color               : #ffffff;
  background-color    : #008ed4;
}