<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      Initial View
    </super-navbar-title>
  </super-navbar>

  <ul class="list">

    <li class="item">
      <button
        class="button button-block"
        ng-click="dismissInitialView()">
        Dismiss initial view
      </button>
      <button
        class="button button-block"
        ng-click="dismissInitialViewWithCallback()">
        Dismiss initial view with callback
      </button>
    </li>

  </ul>

</div>
