<div ng-controller="IndexController">
  <ss-navigation-bar>
    <ss-navigation-bar-title>
      App tests
    </ss-navigation-bar-title>
  </ss-navigation-bar>

  <div class="card padding">
    <h1>OpenURL tests</h1>
    <button
      class="button button-block"
      ng-repeat="test in openURLTests"
      ng-click="testOpenURL(test.options)">
      {{test.title}}
    </button>
    <ul>
      <li>Successful opens: {{successfulOpens}}</li>
    </ul>
  </div>

  <div class="card padding">
    <h1>getLaunchURL tests</h1>
    <button class="button button-block" ng-repeat="test in getLaunchURLTests"  ng-click="testGetLaunchURL(test.options)">
      {{test.title}}
    </button>
    <ul>
      <li>Launch URL: {{launchURL}}</li>
    </ul>
  </div>

  <div class="card padding">
    <h1>sleep.disable/enable tests</h1>
    <button class="button button-block" ng-repeat="test in disableAndEnableSleepTests"  ng-click="testDisableAndEnableSleep(test.options)">
      {{test.title}}
    </button>
    <ul>
      <li>Sleep disabled: {{sleepDisabled}}</li>
      <li>Sleep enabled: {{sleepEnabled}}</li>
    </ul>
  </div>

  <div class="card padding">
    <h1>splashscreen.show/hide tests</h1>
    <button class="button button-block" ng-repeat="test in showAndHideSplashscreenTests"  ng-click="testShowAndHideSplashscreen(test.options)">
      {{test.title}}
    </button>
    <ul>
      <li>Splashscreen shown: {{splashscreenShown}}</li>
      <li>Splashscreen hidden: {{splashscreenHidden}}</li>
    </ul>
  </div>

  <div class="card padding">
    <h1>statusBar.show/hide tests</h1>
    <button
      class="button button-block"
      ng-repeat="test in hideAndShowStatusBarTests"
      ng-click="testHideAndShowStatusBar(test.options)">
      {{test.title}}
    </button>
    <ul>
      <li>Status bar hidden: {{statusBarHidden}}</li>
      <li>Status bar shown: {{statusBarShown}}</li>
    </ul>
  </div>
  
</div>
