<div ng-controller="AnimateController">
  <super-navbar>
    <super-navbar-title>
      Animate API
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <ul class="list">
      <li class="item" ng-repeat="animation in animations">
        <button
          class="button button-block"
          ng-click="animate(animation)">
          {{animation}}
        </button>
      </li>
    </ul>
  </div>

  <div class="padding">
    <ul class="list">
      <li class="item">
        <button
          class="button button-block"
          ng-click="testPromises()">
          Animation promises
        </button>
      </li>
    </ul>
  </div>

</div>
