<div ng-controller="DialogsController">
  <super-navbar>
    <super-navbar-title>
      Dialogs UI API
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <ul class="list">
      <li class="item">
        <button
          class="button button-block"
          ng-click="testShowSpinnerBlockingApp()">
          Show Spinner Blocking the App
        </button>
      </li>
      <li class="item">
        <button
          class="button button-block"
          ng-click="testShowSpinnerBlockingWebView()">
          Show Spinner Blocking the Webview (iOS Only)
        </button>
      </li>
    </ul>
  </div>

</div>
