<div ng-controller="DrawersController">
  <super-navbar>
    <super-navbar-title>
      Drawers UI API
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <ul class="list">
      <li class="item">
        <button
          class="button button-block"
          ng-click="asLeftDrawer('app/webComponents/drawerIndex.html', 200)">
          Left Drawer
        </button>
      </li>
      <li class="item">
        <button
          class="button button-block"
          ng-click="asRightDrawer('app/webComponents/drawerIndex2.html', 300)">
          Right Drawer
        </button>
      </li>
    </ul>
  </div>

</div>
