<div>
  <ss-navigation-bar>
    <ss-navigation-bar-title>
      UI API
    </ss-navigation-bar-title>
  </ss-navigation-bar>

<ul class="list">
  <super-navigate location="/app/ui/layers.html">
    <li class="item item-icon-right">
      Layer APIs <i class="icon ion-ios7-arrow-right"></i>
    </li>
  </super-navigate>
  <super-navigate location="/app/ui/drawers.html">
    <li class="item item-icon-right">
      Drawer APIs <i class="icon ion-ios7-arrow-right"></i>
    </li>
  </super-navigate>
  <super-navigate location="/app/ui/navigation-bar.html">
    <li class="item item-icon-right">
      Navigation Bar APIs <i class="icon ion-ios7-arrow-right"></i>
    </li>
  </super-navigate>
  <super-navigate location="/app/ui/screen.html">
    <li class="item item-icon-right">
      Screen APIs <i class="icon ion-ios7-arrow-right"></i>
    </li>
  </super-navigate>
  <super-navigate location="/app/ui/other.html">
    <li class="item item-icon-right">
      Other APIs <i class="icon ion-ios7-arrow-right"></i>
    </li>
  </super-navigate>

</ul>

</div>
