<div ng-controller="IndexController">
  <ss-navigation-bar>
    <ss-navigation-bar-title>
      Views API
    </ss-navigation-bar-title>
  </ss-navigation-bar>

  <div class="card padding">
    <h1>View examples</h1>
    <ul class="list">
      <li class="item">
        <button
          class="button button-block"
          ng-click="navigateTo('http://google.com')">
          Navigate to Google
        </button>
      </li>
      <li class="item">
        <button
          class="button button-block"
          ng-click="asLeftDrawer('app/webComponents/drawerIndex.html')">
          Left Drawer
        </button>
      </li>
      <li class="item">
        <button
          class="button button-block"
          ng-click="asRightDrawer('app/webComponents/drawerIndex2.html')">
          Right Drawer
        </button>
      </li>
    </ul>
  </div>

</div>
