<div>
  <super-navbar>
    <super-navbar-title>
      UI API
    </super-navbar-title>
  </super-navbar>

<ul class="list">
  <super-navigate location="/app/ui/layers.html">
    <li class="item item-icon-right">
      Layer APIs <i class="icon super-ios7-arrow-right"></i>
    </li>
  </super-navigate>
  <super-navigate location="/app/ui/drawers.html">
    <li class="item item-icon-right">
      Drawer APIs <i class="icon super-ios7-arrow-right"></i>
    </li>
  </super-navigate>
  <super-navigate location="/app/ui/navigatsuper-bar.html">
    <li class="item item-icon-right">
      Navigation Bar APIs <i class="icon super-ios7-arrow-right"></i>
    </li>
  </super-navigate>
  <super-navigate location="/app/ui/screen.html">
    <li class="item item-icon-right">
      Screen APIs <i class="icon super-ios7-arrow-right"></i>
    </li>
  </super-navigate>
  <super-navigate location="/app/ui/tab-bar.html">
    <li class="item item-icon-right">
      Tabs APIs <i class="icon super-ios7-arrow-right"></i>
    </li>
  </super-navigate>
  <super-navigate location="/app/ui/other.html">
    <li class="item item-icon-right">
      Other APIs <i class="icon super-ios7-arrow-right"></i>
    </li>
  </super-navigate>

</ul>

</div>
