<div ng-controller="LayersController">
  <ss-navigation-bar>
    <ss-navigation-bar-title>
      Layers UI API
    </ss-navigation-bar-title>
  </ss-navigation-bar>

  <div class="padding">
    <h1>View examples</h1>
    <ul class="list">
      <li class="item">
        <button
          class="button button-block"
          ng-click="navigateTo('http://google.com')">
          Navigate to Google
        </button>
      </li>
      <li class="item">
        <button
          class="button button-block"
          ng-click="pop()">
          Pop the layer
        </button>
      </li>
      <li class="item">
        <button
          class="button button-block"
          ng-click="popAll()">
          Pop all the layers
        </button>
      </li>
    </ul>
  </div>

<yers/div>
