<div ng-controller="LayersController">
  <super-navbar>
    <super-navbar-title>
      Layers UI API
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <h1>View examples</h1>
    <ul class="list">
      <li class="item">
        <button
          class="button button-block"
          ng-click="navigateTo('http://google.com')">
          Navigate to Google
        </button>
      </li>
      <li class="item">
        <button
          class="button button-block"
          ng-click="pop()">
          Pop the layer
        </button>
      </li>
      <li class="item">
        <button
          class="button button-block"
          ng-click="popAll()">
          Pop all the layers
        </button>
      </li>
    </ul>
  </div>

<yers/div>
