<div ng-controller="ModalController">

  <div class="padding">
    <button
      class="button"
      ng-click="hideModal()"
      >
      Hide modal view
    </button>

    <button
      class="button"
      ng-click="hideAllModals()"
      >
      Hide all the modals
    </button>
    <button
      class="button"
      ng-click="hideModalWithCallback()"
      >
      Hide modal view with callback
    </button>

    <button
      class="button"
      ng-click="hideAllModalsWithCallback()"
      >
      Hide All the Modals With Callback
    </button>
  </div>

</div>
