<div ng-controller="NavigationBarController">
  <ss-navigation-bar>
    <ss-navigation-bar-title>
      Navigation Bar APIs
    </ss-navigation-bar-title>
  </ss-navigation-bar>

  <div class="padding">
    <ul class="list">
      <li class="item">
        <button
          class="button button-block"
          ng-click="hide()">
          Hide the Navigation Bar
        </button>
      </li>
      <li class="item">
        <button
          class="button button-block"
          ng-click="show()">
          Show the Navigation Bar
        </button>
      </li>
      <li class="item">
        <button
          class="button button-block"
          ng-click="show2()">
          Show the Navigation Bar and change title
        </button>
      </li>
      <li class="item">
        <button
          class="button button-block"
          ng-click="update()">
          Update the Navigation Bar with a left and a right button (override back button)
        </button>
      </li>
      <li class="item">
        <button
          class="button button-block"
          ng-click="update2()">
          Update the Navigation Bar with a left button only (override back button)
        </button>
      </li>
    </ul>
  </div>

</div>
