<div ng-controller="OtherController">
  <super-navbar>
    <super-navbar-title>
      Other UI APIs
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <h1>View examples</h1>
    <ul class="list">
      <li class="item">
        <button
          class="button button-block"
          ng-click="asModal('app/ui/modal.html')">
          Modal View
        </button>
        <button
          class="button button-block"
          ng-click="asModalWithCallback('app/ui/modal.html')">
          Show Modal View With Callback
        </button>
      </li>
    </ul>
  </div>

</div>
