<div ng-controller="ScreenController">
  <super-navbar>
    <super-navbar-title>
      Screen tests
    </super-navbar-title>
  </super-navbar>

  <div class="card padding">
    <h1>setAllowedRotations tests</h1>
    <button
      class="button button-block"
      ng-repeat="test in setAllowedRotationsAndRotateTests"
      ng-click="testSetAllowedRotationsAndRotate(test.options)">
      {{test.title}}
    </button>
    <ul>
      <li>Allowed Rotations: {{allowedRotations}}</li>

    </ul>
  </div>

</div>