<div ng-controller="TabsController">

  <div class="padding">
    <ul class="list">
      <li class="item" ng-repeat="method in methods">
        <button
          class="button button-block"
          ng-click="run(method)">
          {{method}}
        </button>
      </li>
      <li class="item">
        <button
          class="button button-block"
          ng-click="hideTabsWithCallback()">
          Hide Tabs With Callback
        </button>
      </li><li class="item">
        <button
          class="button button-block"
          ng-click="showTabsWithCallback()">
          Show Tabs With Callback
        </button>
      </li><li class="item">
        <button
          class="button button-block"
          ng-click="updateTabsWithCallback()">
          Update Tabs With Callback
        </button>
      </li><li class="item">
        <button
          class="button button-block"
          ng-click="replaceTabsWithCallback()">
          Replace Tabs With Callback
        </button>
      </li><li class="item">
        <button
          class="button button-block"
          ng-click="updateCurrentTabWithCallback()">
          Update Current Tab With Callback
        </button>
      </li><li class="item">
        <button
          class="button button-block"
          ng-click="setStyleClassWithCallback()">
          Set Style Class With Callback
        </button>
      </li><li class="item">
        <button
          class="button button-block"
          ng-click="setStyleIdWithCallback()">
          Set Style Id With Callback
        </button>
      </li><li class="item">
        <button
          class="button button-block"
          ng-click="setStyleCSSWithCallback()">
          Set Style CSS With Callback
        </button>
      </li>
      <li class="item">
        <button
          class="button button-block"
          ng-click="select(1)">
          select second tab
        </button>
      </li>
      <li class="item">
        <button
          class="button button-block"
          ng-click="selectWithCallback(1)">
          select second tab with callback
        </button>
      </li>
      <li class="item">
        <button
          class="button button-block"
          ng-click="listenTabChanges()">
          Start listening tab change events
        </button>
        <div>tabs.whenWillChange count: {{willChangeCount}}</div>
        <div>tabs.whenDidChange count: {{didChangeCount}}</div>
      </li>
      <li class="item">
        <button
          class="button button-block"
          ng-click="stopListeningTabChanges()">
          Stop listening tab change events
        </button>
      </li>
    </ul>
  </div>


</div>
