<div ng-controller="TabsController">

  <div class="padding">
    <ul class="list">
      <li class="item" ng-repeat="method in methods">
        <button
          class="button button-block"
          ng-click="run(method)">
          {{method}}
        </button>
      </li>
      <li class="item">
        <button
          class="button button-block"
          ng-click="select(1)">
          select second tab
        </button>
      </li>
      <li class="item">
        <button
          class="button button-block"
          ng-click="listenTabChanges()">
          Start listening tab change events
        </button>
        <div>tabs.whenWillChange count: {{willChangeCount}}</div>
        <div>tabs.whenDidChange count: {{didChangeCount}}</div>
      </li>
      <li class="item">
        <button
          class="button button-block"
          ng-click="stopListeningTabChanges()">
          Stop listening tab change events
        </button>
      </li>
    </ul>
  </div>


</div>
