@media screen and (min-width: 980px) and (max-width: 1200px) {
	.navbar-brand {
		padding: 0px 0px 0px 60px !important;
	}
}

@media screen and (min-width: 769px) and (max-width: 979px) {
	.appgyver-x a.navbar-brand {
		background: url(img/x/appgyver-x-logo-black-bg.png) no-repeat 15px 10px;
		background-size: 30px;
		padding-left: 60px;
	}
}

@media screen and (max-width: 991px), (max-device-width: 991px) {
	#me992 {
		display: none !important;
	}
}

@media screen and (min-width: 992px), (min-device-width: 992px) {
	#me992 {
		display: none !important;
	}
}
@media (max-width: 768px) {
	.navbar-collapse.in, .navbar-collapse, .ag-navbar {
		background-color: #222222;
		overflow-y: inherit;
	}
	.navbar .nav > li > a {
		padding: 15px 15px 10px;
		font-size: 16px;
		line-height: 1.2em;
	}
}

.appgyver-x .navbar-container {
	height: 50px !important;
}
.appgyver-x a.navbar-brand {
	background: url(img/x/appgyver-x-logo-black-bg.png) no-repeat 15px 10px;
	background-size: 30px;
	padding-left: 60px;
	height: 42px;
}
.navbar .nav > li > a {
	padding: 15px 15px 10px;
}

/*
font-family:'HelveticaNeueW01-UltLt';
font-family:'HelveticaNeueW01-65Medi';
font-family:'HelveticaNeueW01-75Bold';
font-family:'HelveticaNeueW01-45Ligh';
*/

div.clear {
	clear: both;
}

div.white_box_inner {
	padding: 20px;
}

.pull-right {
	margin-left: 5px !important;
}

.form-normal-width {
  width: 300px !important;
}

.control-group {
  margin-bottom: 10px;
}

div.white_box_no_side_padding {
  padding: 20px 0px !important;
