<script type="text/javascript" src="/app/web-components.js"></script>

<super-show-modal id="super-show-modal-route" location="web-components#super-hide-modal">
</super-show-modal>
<super-show-modal id="super-show-modal-url" location="http://localhost/app/web-components/super-hide-modal.html">
</super-show-modal>

<super-navigate id="super-navigate-route" location="web-components#super-navigate-back">
</super-navigate>
<super-navigate id="super-navigate-url" location="http://localhost/app/web-components/super-navigate-back.html">
</super-navigate>
<super-navigate id="super-navigate-change-location" location="null">
</super-navigate>
