<script type="text/javascript" src="/app/web-components.js"></script>

<super-modal-show id="super-modal-show-route" location="web-components#super-modal-hide">
</super-modal-show>
<super-modal-show id="super-modal-show-url" location="http://localhost/app/web-components/super-modal-hide.html">
</super-modal-show>
<super-modal-show id="super-modal-show-change-location" location="null">
</super-modal-show>
<super-modal-show
  id="super-modal-show-touchstart"
  location="web-components#super-modal-hide-touchstart"
  action="touchstart">
</super-modal-show>


<super-navigate id="super-navigate-route" location="web-components#super-navigate-back">
</super-navigate>
<super-navigate id="super-navigate-url" location="http://localhost/app/web-components/super-navigate-back.html">
</super-navigate>
<super-navigate id="super-navigate-change-location" location="null">
</super-navigate>
<super-navigate
  id="super-navigate-touchstart"
  location="web-components#super-navigate-back-touchstart"
  action="touchstart">
</super-navigate>
