<div ng-controller="IndexCtrl" class="body">
  <ul class="list">
      <li class="item" ng-click="open('/views/components/index.html')">
        Components
      </li>
      <li class="item" ng-click="open('/views/inlineButton/index.html')">
        Inline buttons
      </li>
      <li class="item" ng-click="open('/views/blockButton/index.html')">
        Block buttons
      </li>
      <li class="item" ng-click="open('/views/iconButton/index.html')">
        Icon buttons
      </li>
  </ul>
</div>
