<div ng-controller="IndexCtrl" class="body">
  <ul class="list">
      <ss-magic action="navigate" link="/views/components/index.html">
        <li class="item">
          Components
        </li>
      </ss-magic>
      <li class="item" ng-click="open('/views/inlineButton/index.html')">
        Inline buttons
      </li>
      <li class="item" ng-click="open('/views/blockButton/index.html')">
        Block buttons
      </li>
      <li class="item" ng-click="open('/views/iconButton/index.html')">
        Icon buttons
      </li>
  </ul>
</div>
