<div ng-controller="IndexCtrl" class="body">
  <ul class="list">
      <ss-magic action="click" navigate="/views/steroids/index.html">
        <li class="item">
          Steroids APIs
        </li>
      </ss-magic>
      <ss-magic action="click" navigate="/views/bordova/index.html">
        <li class="item">
          Better Cordova APIs
        </li>
      </ss-magic>
      <ss-magic action="click" navigate="/views/components/index.html">
        <li class="item">
          Components
        </li>
      </ss-magic>
      <ss-magic action="click" navigate="/views/inlineButton/index.html">
        <li class="item">
          Inline buttons
        </li>
      </ss-magic>
      <ss-magic action="click" modal="/views/blockButton/index.html">
        <li class="item">
          Block buttons
        </li>
      </ss-magic>
      <ss-magic action="click" modal="/views/iconButton/index.html">
        <li class="item">
          Icon buttons
        </li>
      </ss-magic>
      <ss-magic action="click" navigate="/views/drawers/index.html">
        <li class="item">
          Drawers
        </li>
      </ss-magic>
  </ul>

</div>
