/**********************************
 * CONTAINER
 *********************************/

body {
  font-family: "Proxima N W01 Reg";
}

a {
  color: #00b5ff;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  color: #00b5ff;
}

.container-fluid {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

/**********************************
 * HEADER
 *********************************/

.ag__docs__header {
  padding: 40px 0px;
}

.ag__docs__header .supersonic-logo {
  font-family: "Proxima N W01 Bold";
  font-size: 50px;
  line-height: 100%;
  padding-bottom: 30px;
}

.ag__docs__header h3 {
  text-transform: uppercase;
  font-family: "Proxima N W01 Smbd";
  margin-bottom: 6px;
}

.ag__docs__header p.lead {
  font-family: "Adelle W01 Light";
  font-size: 16px;
  margin-bottom: 0px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.9);
}

/**********************************
 * HEADER NAVIGATION
 *********************************/

.ag__docs__header-nav {
}

.ag__docs__header-nav a {
  position: relative;
  background: transparent !important;
  font-size: 14px;
  line-height: 100%;
  font-family: "Proxima N W01 Reg";
  padding: 4px 40px 2px 40px;
  color: #adb0b5;
  opacity: 1 !important;
}

.ag__docs__header-nav a .nav-pointer {
  display: none;
  position: absolute;
  bottom: -16px;
  left: 50%;
  margin-left: -8px;
  width: 16px;
  height: 16px;
  border: 8px solid transparent;
  border-top: 8px solid #30384a;
}

.ag__docs__header-nav li:first-child a {
  padding-left: 0px;
}

.ag__docs__header-nav li.active a {
  color: white !important;
}

.ag__docs__header-nav li.active a .nav-pointer {
  display: block;
}

.ag__docs__header-nav li:first-child a .nav-pointer {
  margin-left: -12px;
}

/***************************************************
 * HEADER NAVIGATION RESPONSIVENESS
 **************************************************/

@media (min-width: 1000px) {

  .ag__docs__header-nav-bigscreen {
    display: block;
  }

  .ag__docs__header-nav-smallscreen {
    display: none;
  }

}

@media (max-width: 999px) {

  .ag__docs__header-nav-bigscreen {
    display: none;
  }

  .ag__docs__header-nav-smallscreen {
    display: block;
  }

}

.ag__docs__header-nav-smallscreen {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ag__docs__header-nav-smallscreen select {
  background-color: #59616e;
  color: #d6d6db;
  border-color: #454d5c !important;
  font-family: "Proxima N W01 Reg";
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.ag__docs__header-nav-smallscreen select option::before {
  content: "hei";
}

/***************************************************
 * CONTENT AREA
 **************************************************/

.ag__docs__content {

}

.ag__docs__content h1 {
  font-family: "Proxima N W01 Smbd";
}

.ag__docs__content h2 {
  font-family: "Proxima N W01 Reg";
  margin-top: 0px;
}

.ag__docs__content * + h2 {
  margin-top: 40px;
}

.ag__docs__content,
.ag__docs__content p {
  font-family: "Proxima N W01 Reg";
  font-size: 16px;
}

.ag__docs__content a {
  color: #00b5ff !important;
  text-decoration: none;
  cursor: pointer;
}

.ag__docs__content a:hover {
  text-decoration: underline;
  color: #00b5ff !important;
}

pre {
  background: #f3f3f3 !important;
  border: none;
  padding: 10px 40px;
}

pre, code {
  font-family: "Adelle W01 Regular" !important;
  font-size: 14px !important;
}

p + p {
  margin-top: 25px;
}






