img.AngularJS-small {
  width: 95px;
  height: 25px;
}

/* this is here to avoid the display=block shuffling of ngShow */
.breadcrumb li > * {
  float:left;
  margin:0 2px 0 0;
}

.breadcrumb {
  padding-top: 6px;
  padding-bottom: 0;
  line-height: 18px
}

.navbar img {
  max-height: 40px;
  padding-right: 20px;
}

.navbar img+.brand {
  padding: 10px 20px 10px 10px;
}

.clear-navbar {
  margin-top: 60px;
}

.footer {
  padding-top: 2em;
  background-color: #333;
  color: white;
  padding-bottom: 2em;
}

.spacer {
  height: 1em;
}


.icon-cog {
  line-height: 13px;
}

/* =============================== */

.form-search {
  margin-right: 10px;
}

.form-search .search-query {
  width: 180px;
  width: 200px \9;
}

.form-search .dropdown-menu {
  margin-left: 10px;
}

.form-search .code {
  font-family: monospace;
  font-weight: bold;
  font-size: 13px;
  color: black;
}

.form-search > ul.nav > li > a {
  margin: 0;
}

.form-search > ul.nav > li.module {
  background-color: #d3d3d3;
}

.form-search > ul.nav > li.section {
  background-color: #ebebeb;
  min-height: 14px;
}

.form-search > ul.nav > li.first {
  padding-top: 6px;
}

.form-search > ul.nav > li.last {
  padding-bottom: 6px;
}

.form-search > ul.nav > li.last + li.api-list-item {
  margin-top: -6px;
  padding-bottom: 6px;
}

.form-search .well {
  border-color: #d3d3d3;
  padding: 0;
  margin-bottom: 15px;
}

.form-search .well .nav-header {
  text-transform: none;
  padding: 3px 1px;
  margin: 0;
}

.form-search .well .nav-header a {
  text-transform: none;
  color: black;
}
.form-search .well .nav-header a:hover {
  background-color: inherit;
}

.form-search .well li {
  line-height: 14px;
}

.form-search .well li a:focus {
	outline: none;
}

.form-search .well .guide {
  float: right;
  padding-top: 0;
  color: gray;
}

.form-search .module .guide {
  line-height: 20px;
}

.match > a, .nav > .match > a:hover {
	background-color: #dbeaf4;
}

/* =============================== */
/*            Content              */
/* =============================== */

.improve-docs {
  float: right;
}

.hint {
  font-size: .6em;
  color: #c0c0c0;
  display: block;
}

.content code {
  background-color: inherit;
  color: inherit;
  border: none;
  padding: 0;
  font-size: inherit;
  font-family: monospace;
}

.content h2,
.content h3,
.content h4,
.content h5 {
  margin: 1em 0 5px;
}

.content h1 {
  font-size: 30px;
  line-height: 36px;
}

.content h2 {
  font-size: 24px;
  line-height: 36px;
}

.content h3 {
  line-height: 27px;
  font-size: 18px;
}

.content h4 {
  font-size: 15px;
}

ul.parameters > li > p,
.returns > p {
  display: inline;
}

ul.methods > li,
ul.properties > li,
ul.events > li {
  list-style: none;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.member.method > h2,
.member.property > h2,
.member.event > h2 {
  margin-bottom: .5em;
}

ul.methods > li > h3,
ul.properties > li > h3,
ul.events > li > h3 {
  margin: -19px -19px 1em -19px;
  padding: .25em 19px;
  background-color: #d3d3d3;
  font-family: monospace;
}

.center {
  display: block;
  margin: 2em auto;
}

.diagram {
  display: block;
  margin: 2em auto;
  padding: 1em;
  border: 1px solid black;

  -moz-box-shadow: 4px 4px 6px #48577D;
  -webkit-box-shadow: 4px 4px 6px #48577D;
  box-shadow: 4px 4px 6px #48577D;

  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.tutorial-nav {
  margin-left: 175px;
  color: black;
  margin-top: 2em;
  margin-bottom: 2em;
}

.tutorial-nav a {
  color: white;
}

.tutorial-nav a:hover {
  color: white;
  text-decoration: none;
}

.clear {
  clear: both;
}

.variables-matrix td {
  vertical-align:top;
  padding:5px;
}

.type-hint {
  display:inline-block;
}

.variables-matrix .type-hint {
  text-align:center;
  display:block;
  min-width:60px;
}

.type-hint + .type-hint {
  margin-top:5px;
}

.type-hint-string {
  background:#3a87ad;
}

.type-hint-object {
  background:#999;
}

.type-hint-array {
  background:#F90;;
}

.type-hint-boolean {
  background:rgb(18, 131, 39);
}

.type-hint-number {
  background:rgb(189, 63, 66);
}

td.property::before {
  content: "\21B3  "
}

ul.docs-header {
  top: 0px;
  text-align: center;
}

ul.docs-header li {
  padding:5px;
  height:50px;
}

ul.docs-header li a {
  padding: 10px 15px !important;
}

ul.docs-header li.active {
  background-color: #ffffff;
}

ul.docs-header li.active a {
  color: #000000;
  background-color: #ffffff;
}

.first-mile-menu, .first-mile-menu li.menu-title {
  counter-reset: section;
}

.first-mile-menu li.menu-title {
  padding-left: 7px;
}

.first-mile-menu ol:before, .first-mile-menu li.menu-section:before {
  counter-increment: section;
  content: counters(section, ".") " ";
  float: left;
  display: inline-block;
  font-weight: 700;
  padding-top:2px;
  margin-left: -2rem;
  margin-right: 1rem;
  text-align: center;
}

.disabled {
  background-color: #bdc3c7;
  pointer-events: none;
  cursor: default;
}

/*
Breadcrumb navigation
*/
a.menu-link {
        float: right;
        display: block;
        padding: 1em;
    }
    .menu, .menu > ul ul {
      clear: both;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
    }
    .js .menu, .js .menu > ul ul {
      overflow: hidden;
      max-height: 0;
      background: rgba(0,0,0,0.1);
    }
    .menu.active, .js .menu > ul ul.active {
      max-height: 55em;
    }
    .menu > ul {
      border-top: 1px solid #808080;
    }
    .menu li a {
      color: #000;
      display: block;
      padding: 0.8em;
      border-bottom: 1px solid #808080;
      position: relative;
    }
    .menu li.has-subnav > a:after {
      content: '+';
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      font-size: 1.5em;
      padding: 0.25em 0.5em;
    }
    .menu li.has-subnav > a.active:after {
      content: "-";
    }


    @media screen and (min-width: 48.25em) {
      .pattern {
        overflow: visible;
      }
      a.menu-link {
         display: none;
      }
      .js .menu, .js .menu > ul ul {
        max-height: none;
        overflow: visible;
        background: none;
      }
      .js .menu > ul ul {
        display: none;
      }
      .js .menu > ul li:hover > ul {
        display: block;
      }
      .menu ul {
        margin: 0 0 0 -0.25em;
        border: 0;
      }
      .menu li a {
        border: 0;
      }
      .menu li.has-subnav > a {
        padding-right: 2em;
      }
      .menu li.has-subnav > a:after {
        content: ">";
        font-size: 1em;
        padding: 0.8em 0.5em;
      }
      .menu .level-1 > li.has-subnav > a:after {
        content: "▼";
      }
      .menu > ul li {
        margin: 0 0.25em;
      }
      .menu > ul > li {
        display: inline-block;
        position: relative;
      }
      .menu > ul ul {
        position: absolute;
        top: 0;
        left: 12em;
        width: 12em;
      }
      .menu > ul ul li {
        position: relative;
      }
      .menu > ul ul.level-2 {
        top: 3em;
        left: 0;
      }
    }
