/*!
  Ionicons, v1.5.2
  Created by Ben Sperry for the Ionic Framework, http://ionicons.com/
  https://twitter.com/benjsperry  https://twitter.com/ionicframework
  MIT License: https://github.com/driftyco/ionicons
*/
@font-face {
  font-family: "Ionicons";
  src: url("../fonts/ionicons.eot?v=1.5.2");
  src: url("../fonts/ionicons.eot?v=1.5.2#iefix") format("embedded-opentype"), url("../fonts/ionicons.ttf?v=1.5.2") format("truetype"), url("../fonts/ionicons.woff?v=1.5.2") format("woff"), url("../fonts/ionicons.svg?v=1.5.2#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal; }

.super, .super-loading-a, .super-loading-b, .super-loading-c, .super-loading-d, .super-looping, .super-refreshing, .super-ios7-reloading, .ionicons, .super-alert:before, .super-alert-circled:before, .super-android-add:before, .super-android-add-contact:before, .super-android-alarm:before, .super-android-archive:before, .super-android-arrow-back:before, .super-android-arrow-down-left:before, .super-android-arrow-down-right:before, .super-android-arrow-forward:before, .super-android-arrow-up-left:before, .super-android-arrow-up-right:before, .super-android-battery:before, .super-android-book:before, .super-android-calendar:before, .super-android-call:before, .super-android-camera:before, .super-android-chat:before, .super-android-checkmark:before, .super-android-clock:before, .super-android-close:before, .super-android-contact:before, .super-android-contacts:before, .super-android-data:before, .super-android-developer:before, .super-android-display:before, .super-android-download:before, .super-android-drawer:before, .super-android-dropdown:before, .super-android-earth:before, .super-android-folder:before, .super-android-forums:before, .super-android-friends:before, .super-android-hand:before, .super-android-image:before, .super-android-inbox:before, .super-android-information:before, .super-android-keypad:before, .super-android-lightbulb:before, .super-android-locate:before, .super-android-location:before, .super-android-mail:before, .super-android-microphone:before, .super-android-mixer:before, .super-android-more:before, .super-android-note:before, .super-android-playstore:before, .super-android-printer:before, .super-android-promotion:before, .super-android-reminder:before, .super-android-remove:before, .super-android-search:before, .super-android-send:before, .super-android-settings:before, .super-android-share:before, .super-android-social:before, .super-android-social-user:before, .super-android-sort:before, .super-android-stair-drawer:before, .super-android-star:before, .super-android-stopwatch:before, .super-android-storage:before, .super-android-system-back:before, .super-android-system-home:before, .super-android-system-windows:before, .super-android-timer:before, .super-android-trash:before, .super-android-user-menu:before, .super-android-volume:before, .super-android-wifi:before, .super-aperture:before, .super-archive:before, .super-arrow-down-a:before, .super-arrow-down-b:before, .super-arrow-down-c:before, .super-arrow-expand:before, .super-arrow-graph-down-left:before, .super-arrow-graph-down-right:before, .super-arrow-graph-up-left:before, .super-arrow-graph-up-right:before, .super-arrow-left-a:before, .super-arrow-left-b:before, .super-arrow-left-c:before, .super-arrow-move:before, .super-arrow-resize:before, .super-arrow-return-left:before, .super-arrow-return-right:before, .super-arrow-right-a:before, .super-arrow-right-b:before, .super-arrow-right-c:before, .super-arrow-shrink:before, .super-arrow-swap:before, .super-arrow-up-a:before, .super-arrow-up-b:before, .super-arrow-up-c:before, .super-asterisk:before, .super-at:before, .super-bag:before, .super-battery-charging:before, .super-battery-empty:before, .super-battery-full:before, .super-battery-half:before, .super-battery-low:before, .super-beaker:before, .super-beer:before, .super-bluetooth:before, .super-bonfire:before, .super-bookmark:before, .super-briefcase:before, .super-bug:before, .super-calculator:before, .super-calendar:before, .super-camera:before, .super-card:before, .super-cash:before, .super-chatbox:before, .super-chatbox-working:before, .super-chatboxes:before, .super-chatbubble:before, .super-chatbubble-working:before, .super-chatbubbles:before, .super-checkmark:before, .super-checkmark-circled:before, .super-checkmark-round:before, .super-chevron-down:before, .super-chevron-left:before, .super-chevron-right:before, .super-chevron-up:before, .super-clipboard:before, .super-clock:before, .super-close:before, .super-close-circled:before, .super-close-round:before, .super-closed-captioning:before, .super-cloud:before, .super-code:before, .super-code-download:before, .super-code-working:before, .super-coffee:before, .super-compass:before, .super-compose:before, .super-connection-bars:before, .super-contrast:before, .super-cube:before, .super-disc:before, .super-document:before, .super-document-text:before, .super-drag:before, .super-earth:before, .super-edit:before, .super-egg:before, .super-eject:before, .super-email:before, .super-eye:before, .super-eye-disabled:before, .super-female:before, .super-filing:before, .super-film-marker:before, .super-fireball:before, .super-flag:before, .super-flame:before, .super-flash:before, .super-flash-off:before, .super-flask:before, .super-folder:before, .super-fork:before, .super-fork-repo:before, .super-forward:before, .super-funnel:before, .super-game-controller-a:before, .super-game-controller-b:before, .super-gear-a:before, .super-gear-b:before, .super-grid:before, .super-hammer:before, .super-happy:before, .super-headphone:before, .super-heart:before, .super-heart-broken:before, .super-help:before, .super-help-buoy:before, .super-help-circled:before, .super-home:before, .super-icecream:before, .super-icon-social-google-plus:before, .super-icon-social-google-plus-outline:before, .super-image:before, .super-images:before, .super-information:before, .super-information-circled:before, .super-ionic:before, .super-ios7-alarm:before, .super-ios7-alarm-outline:before, .super-ios7-albums:before, .super-ios7-albums-outline:before, .super-ios7-americanfootball:before, .super-ios7-americanfootball-outline:before, .super-ios7-analytics:before, .super-ios7-analytics-outline:before, .super-ios7-arrow-back:before, .super-ios7-arrow-down:before, .super-ios7-arrow-forward:before, .super-ios7-arrow-left:before, .super-ios7-arrow-right:before, .super-ios7-arrow-thin-down:before, .super-ios7-arrow-thin-left:before, .super-ios7-arrow-thin-right:before, .super-ios7-arrow-thin-up:before, .super-ios7-arrow-up:before, .super-ios7-at:before, .super-ios7-at-outline:before, .super-ios7-barcode:before, .super-ios7-barcode-outline:before, .super-ios7-baseball:before, .super-ios7-baseball-outline:before, .super-ios7-basketball:before, .super-ios7-basketball-outline:before, .super-ios7-bell:before, .super-ios7-bell-outline:before, .super-ios7-bolt:before, .super-ios7-bolt-outline:before, .super-ios7-bookmarks:before, .super-ios7-bookmarks-outline:before, .super-ios7-box:before, .super-ios7-box-outline:before, .super-ios7-briefcase:before, .super-ios7-briefcase-outline:before, .super-ios7-browsers:before, .super-ios7-browsers-outline:before, .super-ios7-calculator:before, .super-ios7-calculator-outline:before, .super-ios7-calendar:before, .super-ios7-calendar-outline:before, .super-ios7-camera:before, .super-ios7-camera-outline:before, .super-ios7-cart:before, .super-ios7-cart-outline:before, .super-ios7-chatboxes:before, .super-ios7-chatboxes-outline:before, .super-ios7-chatbubble:before, .super-ios7-chatbubble-outline:before, .super-ios7-checkmark:before, .super-ios7-checkmark-empty:before, .super-ios7-checkmark-outline:before, .super-ios7-circle-filled:before, .super-ios7-circle-outline:before, .super-ios7-clock:before, .super-ios7-clock-outline:before, .super-ios7-close:before, .super-ios7-close-empty:before, .super-ios7-close-outline:before, .super-ios7-cloud:before, .super-ios7-cloud-download:before, .super-ios7-cloud-download-outline:before, .super-ios7-cloud-outline:before, .super-ios7-cloud-upload:before, .super-ios7-cloud-upload-outline:before, .super-ios7-cloudy:before, .super-ios7-cloudy-night:before, .super-ios7-cloudy-night-outline:before, .super-ios7-cloudy-outline:before, .super-ios7-cog:before, .super-ios7-cog-outline:before, .super-ios7-compose:before, .super-ios7-compose-outline:before, .super-ios7-contact:before, .super-ios7-contact-outline:before, .super-ios7-copy:before, .super-ios7-copy-outline:before, .super-ios7-download:before, .super-ios7-download-outline:before, .super-ios7-drag:before, .super-ios7-email:before, .super-ios7-email-outline:before, .super-ios7-expand:before, .super-ios7-eye:before, .super-ios7-eye-outline:before, .super-ios7-fastforward:before, .super-ios7-fastforward-outline:before, .super-ios7-filing:before, .super-ios7-filing-outline:before, .super-ios7-film:before, .super-ios7-film-outline:before, .super-ios7-flag:before, .super-ios7-flag-outline:before, .super-ios7-folder:before, .super-ios7-folder-outline:before, .super-ios7-football:before, .super-ios7-football-outline:before, .super-ios7-gear:before, .super-ios7-gear-outline:before, .super-ios7-glasses:before, .super-ios7-glasses-outline:before, .super-ios7-heart:before, .super-ios7-heart-outline:before, .super-ios7-help:before, .super-ios7-help-empty:before, .super-ios7-help-outline:before, .super-ios7-home:before, .super-ios7-home-outline:before, .super-ios7-infinite:before, .super-ios7-infinite-outline:before, .super-ios7-information:before, .super-ios7-information-empty:before, .super-ios7-information-outline:before, .super-ios7-ionic-outline:before, .super-ios7-keypad:before, .super-ios7-keypad-outline:before, .super-ios7-lightbulb:before, .super-ios7-lightbulb-outline:before, .super-ios7-location:before, .super-ios7-location-outline:before, .super-ios7-locked:before, .super-ios7-locked-outline:before, .super-ios7-loop:before, .super-ios7-loop-strong:before, .super-ios7-medkit:before, .super-ios7-medkit-outline:before, .super-ios7-mic:before, .super-ios7-mic-off:before, .super-ios7-mic-outline:before, .super-ios7-minus:before, .super-ios7-minus-empty:before, .super-ios7-minus-outline:before, .super-ios7-monitor:before, .super-ios7-monitor-outline:before, .super-ios7-moon:before, .super-ios7-moon-outline:before, .super-ios7-more:before, .super-ios7-more-outline:before, .super-ios7-musical-note:before, .super-ios7-musical-notes:before, .super-ios7-navigate:before, .super-ios7-navigate-outline:before, .super-ios7-paper:before, .super-ios7-paper-outline:before, .super-ios7-paperplane:before, .super-ios7-paperplane-outline:before, .super-ios7-partlysunny:before, .super-ios7-partlysunny-outline:before, .super-ios7-pause:before, .super-ios7-pause-outline:before, .super-ios7-paw:before, .super-ios7-paw-outline:before, .super-ios7-people:before, .super-ios7-people-outline:before, .super-ios7-person:before, .super-ios7-person-outline:before, .super-ios7-personadd:before, .super-ios7-personadd-outline:before, .super-ios7-photos:before, .super-ios7-photos-outline:before, .super-ios7-pie:before, .super-ios7-pie-outline:before, .super-ios7-play:before, .super-ios7-play-outline:before, .super-ios7-plus:before, .super-ios7-plus-empty:before, .super-ios7-plus-outline:before, .super-ios7-pricetag:before, .super-ios7-pricetag-outline:before, .super-ios7-pricetags:before, .super-ios7-pricetags-outline:before, .super-ios7-printer:before, .super-ios7-printer-outline:before, .super-ios7-pulse:before, .super-ios7-pulse-strong:before, .super-ios7-rainy:before, .super-ios7-rainy-outline:before, .super-ios7-recording:before, .super-ios7-recording-outline:before, .super-ios7-redo:before, .super-ios7-redo-outline:before, .super-ios7-refresh:before, .super-ios7-refresh-empty:before, .super-ios7-refresh-outline:before, .super-ios7-reload:before, .super-ios7-reloading:before, .super-ios7-reverse-camera:before, .super-ios7-reverse-camera-outline:before, .super-ios7-rewind:before, .super-ios7-rewind-outline:before, .super-ios7-search:before, .super-ios7-search-strong:before, .super-ios7-settings:before, .super-ios7-settings-strong:before, .super-ios7-shrink:before, .super-ios7-skipbackward:before, .super-ios7-skipbackward-outline:before, .super-ios7-skipforward:before, .super-ios7-skipforward-outline:before, .super-ios7-snowy:before, .super-ios7-speedometer:before, .super-ios7-speedometer-outline:before, .super-ios7-star:before, .super-ios7-star-half:before, .super-ios7-star-outline:before, .super-ios7-stopwatch:before, .super-ios7-stopwatch-outline:before, .super-ios7-sunny:before, .super-ios7-sunny-outline:before, .super-ios7-telephone:before, .super-ios7-telephone-outline:before, .super-ios7-tennisball:before, .super-ios7-tennisball-outline:before, .super-ios7-thunderstorm:before, .super-ios7-thunderstorm-outline:before, .super-ios7-time:before, .super-ios7-time-outline:before, .super-ios7-timer:before, .super-ios7-timer-outline:before, .super-ios7-toggle:before, .super-ios7-toggle-outline:before, .super-ios7-trash:before, .super-ios7-trash-outline:before, .super-ios7-undo:before, .super-ios7-undo-outline:before, .super-ios7-unlocked:before, .super-ios7-unlocked-outline:before, .super-ios7-upload:before, .super-ios7-upload-outline:before, .super-ios7-videocam:before, .super-ios7-videocam-outline:before, .super-ios7-volume-high:before, .super-ios7-volume-low:before, .super-ios7-wineglass:before, .super-ios7-wineglass-outline:before, .super-ios7-world:before, .super-ios7-world-outline:before, .super-ipad:before, .super-iphone:before, .super-ipod:before, .super-jet:before, .super-key:before, .super-knife:before, .super-laptop:before, .super-leaf:before, .super-levels:before, .super-lightbulb:before, .super-link:before, .super-load-a:before, .super-loading-a:before, .super-load-b:before, .super-loading-b:before, .super-load-c:before, .super-loading-c:before, .super-load-d:before, .super-loading-d:before, .super-location:before, .super-locked:before, .super-log-in:before, .super-log-out:before, .super-loop:before, .super-looping:before, .super-magnet:before, .super-male:before, .super-man:before, .super-map:before, .super-medkit:before, .super-merge:before, .super-mic-a:before, .super-mic-b:before, .super-mic-c:before, .super-minus:before, .super-minus-circled:before, .super-minus-round:before, .super-model-s:before, .super-monitor:before, .super-more:before, .super-mouse:before, .super-music-note:before, .super-navicon:before, .super-navicon-round:before, .super-navigate:before, .super-network:before, .super-no-smoking:before, .super-nuclear:before, .super-outlet:before, .super-paper-airplane:before, .super-paperclip:before, .super-pause:before, .super-person:before, .super-person-add:before, .super-person-stalker:before, .super-pie-graph:before, .super-pin:before, .super-pinpoint:before, .super-pizza:before, .super-plane:before, .super-planet:before, .super-play:before, .super-playstation:before, .super-plus:before, .super-plus-circled:before, .super-plus-round:before, .super-podium:before, .super-pound:before, .super-power:before, .super-pricetag:before, .super-pricetags:before, .super-printer:before, .super-pull-request:before, .super-qr-scanner:before, .super-quote:before, .super-radio-waves:before, .super-record:before, .super-refresh:before, .super-refreshing:before, .super-reply:before, .super-reply-all:before, .super-ribbon-a:before, .super-ribbon-b:before, .super-sad:before, .super-scissors:before, .super-search:before, .super-settings:before, .super-share:before, .super-shuffle:before, .super-skip-backward:before, .super-skip-forward:before, .super-social-android:before, .super-social-android-outline:before, .super-social-apple:before, .super-social-apple-outline:before, .super-social-bitcoin:before, .super-social-bitcoin-outline:before, .super-social-buffer:before, .super-social-buffer-outline:before, .super-social-designernews:before, .super-social-designernews-outline:before, .super-social-dribbble:before, .super-social-dribbble-outline:before, .super-social-dropbox:before, .super-social-dropbox-outline:before, .super-social-facebook:before, .super-social-facebook-outline:before, .super-social-foursquare:before, .super-social-foursquare-outline:before, .super-social-freebsd-devil:before, .super-social-github:before, .super-social-github-outline:before, .super-social-google:before, .super-social-google-outline:before, .super-social-googleplus:before, .super-social-googleplus-outline:before, .super-social-hackernews:before, .super-social-hackernews-outline:before, .super-social-instagram:before, .super-social-instagram-outline:before, .super-social-linkedin:before, .super-social-linkedin-outline:before, .super-social-pinterest:before, .super-social-pinterest-outline:before, .super-social-reddit:before, .super-social-reddit-outline:before, .super-social-rss:before, .super-social-rss-outline:before, .super-social-skype:before, .super-social-skype-outline:before, .super-social-tumblr:before, .super-social-tumblr-outline:before, .super-social-tux:before, .super-social-twitter:before, .super-social-twitter-outline:before, .super-social-usd:before, .super-social-usd-outline:before, .super-social-vimeo:before, .super-social-vimeo-outline:before, .super-social-windows:before, .super-social-windows-outline:before, .super-social-wordpress:before, .super-social-wordpress-outline:before, .super-social-yahoo:before, .super-social-yahoo-outline:before, .super-social-youtube:before, .super-social-youtube-outline:before, .super-speakerphone:before, .super-speedometer:before, .super-spoon:before, .super-star:before, .super-stats-bars:before, .super-steam:before, .super-stop:before, .super-thermometer:before, .super-thumbsdown:before, .super-thumbsup:before, .super-toggle:before, .super-toggle-filled:before, .super-trash-a:before, .super-trash-b:before, .super-trophy:before, .super-umbrella:before, .super-university:before, .super-unlocked:before, .super-upload:before, .super-usb:before, .super-videocamera:before, .super-volume-high:before, .super-volume-low:before, .super-volume-medium:before, .super-volume-mute:before, .super-wand:before, .super-waterdrop:before, .super-wifi:before, .super-wineglass:before, .super-woman:before, .super-wrench:before, .super-xbox:before {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.super-spin, .super-loading-a, .super-loading-b, .super-loading-c, .super-loading-d, .super-looping, .super-refreshing, .super-ios7-reloading {
  visibility: hidden;
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear; }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(359deg); } }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(359deg); } }

@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg); }

  100% {
    -o-transform: rotate(359deg); } }

@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg); }

  100% {
    -ms-transform: rotate(359deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }

  100% {
    transform: rotate(359deg); } }

.super-loading-a {
  -webkit-animation-timing-function: steps(8, start);
  -moz-animation-timing-function: steps(8, start);
  animation-timing-function: steps(8, start); }

.super-alert:before {
  content: "\f101"; }

.super-alert-circled:before {
  content: "\f100"; }

.super-android-add:before {
  content: "\f2c7"; }

.super-android-add-contact:before {
  content: "\f2c6"; }

.super-android-alarm:before {
  content: "\f2c8"; }

.super-android-archive:before {
  content: "\f2c9"; }

.super-android-arrow-back:before {
  content: "\f2ca"; }

.super-android-arrow-down-left:before {
  content: "\f2cb"; }

.super-android-arrow-down-right:before {
  content: "\f2cc"; }

.super-android-arrow-forward:before {
  content: "\f30f"; }

.super-android-arrow-up-left:before {
  content: "\f2cd"; }

.super-android-arrow-up-right:before {
  content: "\f2ce"; }

.super-android-battery:before {
  content: "\f2cf"; }

.super-android-book:before {
  content: "\f2d0"; }

.super-android-calendar:before {
  content: "\f2d1"; }

.super-android-call:before {
  content: "\f2d2"; }

.super-android-camera:before {
  content: "\f2d3"; }

.super-android-chat:before {
  content: "\f2d4"; }

.super-android-checkmark:before {
  content: "\f2d5"; }

.super-android-clock:before {
  content: "\f2d6"; }

.super-android-close:before {
  content: "\f2d7"; }

.super-android-contact:before {
  content: "\f2d8"; }

.super-android-contacts:before {
  content: "\f2d9"; }

.super-android-data:before {
  content: "\f2da"; }

.super-android-developer:before {
  content: "\f2db"; }

.super-android-display:before {
  content: "\f2dc"; }

.super-android-download:before {
  content: "\f2dd"; }

.super-android-drawer:before {
  content: "\f310"; }

.super-android-dropdown:before {
  content: "\f2de"; }

.super-android-earth:before {
  content: "\f2df"; }

.super-android-folder:before {
  content: "\f2e0"; }

.super-android-forums:before {
  content: "\f2e1"; }

.super-android-friends:before {
  content: "\f2e2"; }

.super-android-hand:before {
  content: "\f2e3"; }

.super-android-image:before {
  content: "\f2e4"; }

.super-android-inbox:before {
  content: "\f2e5"; }

.super-android-information:before {
  content: "\f2e6"; }

.super-android-keypad:before {
  content: "\f2e7"; }

.super-android-lightbulb:before {
  content: "\f2e8"; }

.super-android-locate:before {
  content: "\f2e9"; }

.super-android-location:before {
  content: "\f2ea"; }

.super-android-mail:before {
  content: "\f2eb"; }

.super-android-microphone:before {
  content: "\f2ec"; }

.super-android-mixer:before {
  content: "\f2ed"; }

.super-android-more:before {
  content: "\f2ee"; }

.super-android-note:before {
  content: "\f2ef"; }

.super-android-playstore:before {
  content: "\f2f0"; }

.super-android-printer:before {
  content: "\f2f1"; }

.super-android-promotion:before {
  content: "\f2f2"; }

.super-android-reminder:before {
  content: "\f2f3"; }

.super-android-remove:before {
  content: "\f2f4"; }

.super-android-search:before {
  content: "\f2f5"; }

.super-android-send:before {
  content: "\f2f6"; }

.super-android-settings:before {
  content: "\f2f7"; }

.super-android-share:before {
  content: "\f2f8"; }

.super-android-social:before {
  content: "\f2fa"; }

.super-android-social-user:before {
  content: "\f2f9"; }

.super-android-sort:before {
  content: "\f2fb"; }

.super-android-stair-drawer:before {
  content: "\f311"; }

.super-android-star:before {
  content: "\f2fc"; }

.super-android-stopwatch:before {
  content: "\f2fd"; }

.super-android-storage:before {
  content: "\f2fe"; }

.super-android-system-back:before {
  content: "\f2ff"; }

.super-android-system-home:before {
  content: "\f300"; }

.super-android-system-windows:before {
  content: "\f301"; }

.super-android-timer:before {
  content: "\f302"; }

.super-android-trash:before {
  content: "\f303"; }

.super-android-user-menu:before {
  content: "\f312"; }

.super-android-volume:before {
  content: "\f304"; }

.super-android-wifi:before {
  content: "\f305"; }

.super-aperture:before {
  content: "\f313"; }

.super-archive:before {
  content: "\f102"; }

.super-arrow-down-a:before {
  content: "\f103"; }

.super-arrow-down-b:before {
  content: "\f104"; }

.super-arrow-down-c:before {
  content: "\f105"; }

.super-arrow-expand:before {
  content: "\f25e"; }

.super-arrow-graph-down-left:before {
  content: "\f25f"; }

.super-arrow-graph-down-right:before {
  content: "\f260"; }

.super-arrow-graph-up-left:before {
  content: "\f261"; }

.super-arrow-graph-up-right:before {
  content: "\f262"; }

.super-arrow-left-a:before {
  content: "\f106"; }

.super-arrow-left-b:before {
  content: "\f107"; }

.super-arrow-left-c:before {
  content: "\f108"; }

.super-arrow-move:before {
  content: "\f263"; }

.super-arrow-resize:before {
  content: "\f264"; }

.super-arrow-return-left:before {
  content: "\f265"; }

.super-arrow-return-right:before {
  content: "\f266"; }

.super-arrow-right-a:before {
  content: "\f109"; }

.super-arrow-right-b:before {
  content: "\f10a"; }

.super-arrow-right-c:before {
  content: "\f10b"; }

.super-arrow-shrink:before {
  content: "\f267"; }

.super-arrow-swap:before {
  content: "\f268"; }

.super-arrow-up-a:before {
  content: "\f10c"; }

.super-arrow-up-b:before {
  content: "\f10d"; }

.super-arrow-up-c:before {
  content: "\f10e"; }

.super-asterisk:before {
  content: "\f314"; }

.super-at:before {
  content: "\f10f"; }

.super-bag:before {
  content: "\f110"; }

.super-battery-charging:before {
  content: "\f111"; }

.super-battery-empty:before {
  content: "\f112"; }

.super-battery-full:before {
  content: "\f113"; }

.super-battery-half:before {
  content: "\f114"; }

.super-battery-low:before {
  content: "\f115"; }

.super-beaker:before {
  content: "\f269"; }

.super-beer:before {
  content: "\f26a"; }

.super-bluetooth:before {
  content: "\f116"; }

.super-bonfire:before {
  content: "\f315"; }

.super-bookmark:before {
  content: "\f26b"; }

.super-briefcase:before {
  content: "\f26c"; }

.super-bug:before {
  content: "\f2be"; }

.super-calculator:before {
  content: "\f26d"; }

.super-calendar:before {
  content: "\f117"; }

.super-camera:before {
  content: "\f118"; }

.super-card:before {
  content: "\f119"; }

.super-cash:before {
  content: "\f316"; }

.super-chatbox:before {
  content: "\f11b"; }

.super-chatbox-working:before {
  content: "\f11a"; }

.super-chatboxes:before {
  content: "\f11c"; }

.super-chatbubble:before {
  content: "\f11e"; }

.super-chatbubble-working:before {
  content: "\f11d"; }

.super-chatbubbles:before {
  content: "\f11f"; }

.super-checkmark:before {
  content: "\f122"; }

.super-checkmark-circled:before {
  content: "\f120"; }

.super-checkmark-round:before {
  content: "\f121"; }

.super-chevron-down:before {
  content: "\f123"; }

.super-chevron-left:before {
  content: "\f124"; }

.super-chevron-right:before {
  content: "\f125"; }

.super-chevron-up:before {
  content: "\f126"; }

.super-clipboard:before {
  content: "\f127"; }

.super-clock:before {
  content: "\f26e"; }

.super-close:before {
  content: "\f12a"; }

.super-close-circled:before {
  content: "\f128"; }

.super-close-round:before {
  content: "\f129"; }

.super-closed-captioning:before {
  content: "\f317"; }

.super-cloud:before {
  content: "\f12b"; }

.super-code:before {
  content: "\f271"; }

.super-code-download:before {
  content: "\f26f"; }

.super-code-working:before {
  content: "\f270"; }

.super-coffee:before {
  content: "\f272"; }

.super-compass:before {
  content: "\f273"; }

.super-compose:before {
  content: "\f12c"; }

.super-connection-bars:before {
  content: "\f274"; }

.super-contrast:before {
  content: "\f275"; }

.super-cube:before {
  content: "\f318"; }

.super-disc:before {
  content: "\f12d"; }

.super-document:before {
  content: "\f12f"; }

.super-document-text:before {
  content: "\f12e"; }

.super-drag:before {
  content: "\f130"; }

.super-earth:before {
  content: "\f276"; }

.super-edit:before {
  content: "\f2bf"; }

.super-egg:before {
  content: "\f277"; }

.super-eject:before {
  content: "\f131"; }

.super-email:before {
  content: "\f132"; }

.super-eye:before {
  content: "\f133"; }

.super-eye-disabled:before {
  content: "\f306"; }

.super-female:before {
  content: "\f278"; }

.super-filing:before {
  content: "\f134"; }

.super-film-marker:before {
  content: "\f135"; }

.super-fireball:before {
  content: "\f319"; }

.super-flag:before {
  content: "\f279"; }

.super-flame:before {
  content: "\f31a"; }

.super-flash:before {
  content: "\f137"; }

.super-flash-off:before {
  content: "\f136"; }

.super-flask:before {
  content: "\f138"; }

.super-folder:before {
  content: "\f139"; }

.super-fork:before {
  content: "\f27a"; }

.super-fork-repo:before {
  content: "\f2c0"; }

.super-forward:before {
  content: "\f13a"; }

.super-funnel:before {
  content: "\f31b"; }

.super-game-controller-a:before {
  content: "\f13b"; }

.super-game-controller-b:before {
  content: "\f13c"; }

.super-gear-a:before {
  content: "\f13d"; }

.super-gear-b:before {
  content: "\f13e"; }

.super-grid:before {
  content: "\f13f"; }

.super-hammer:before {
  content: "\f27b"; }

.super-happy:before {
  content: "\f31c"; }

.super-headphone:before {
  content: "\f140"; }

.super-heart:before {
  content: "\f141"; }

.super-heart-broken:before {
  content: "\f31d"; }

.super-help:before {
  content: "\f143"; }

.super-help-buoy:before {
  content: "\f27c"; }

.super-help-circled:before {
  content: "\f142"; }

.super-home:before {
  content: "\f144"; }

.super-icecream:before {
  content: "\f27d"; }

.super-icon-social-google-plus:before {
  content: "\f146"; }

.super-icon-social-google-plus-outline:before {
  content: "\f145"; }

.super-image:before {
  content: "\f147"; }

.super-images:before {
  content: "\f148"; }

.super-information:before {
  content: "\f14a"; }

.super-information-circled:before {
  content: "\f149"; }

.super-ionic:before {
  content: "\f14b"; }

.super-ios7-alarm:before {
  content: "\f14d"; }

.super-ios7-alarm-outline:before {
  content: "\f14c"; }

.super-ios7-albums:before {
  content: "\f14f"; }

.super-ios7-albums-outline:before {
  content: "\f14e"; }

.super-ios7-americanfootball:before {
  content: "\f31f"; }

.super-ios7-americanfootball-outline:before {
  content: "\f31e"; }

.super-ios7-analytics:before {
  content: "\f321"; }

.super-ios7-analytics-outline:before {
  content: "\f320"; }

.super-ios7-arrow-back:before {
  content: "\f150"; }

.super-ios7-arrow-down:before {
  content: "\f151"; }

.super-ios7-arrow-forward:before {
  content: "\f152"; }

.super-ios7-arrow-left:before {
  content: "\f153"; }

.super-ios7-arrow-right:before {
  content: "\f154"; }

.super-ios7-arrow-thin-down:before {
  content: "\f27e"; }

.super-ios7-arrow-thin-left:before {
  content: "\f27f"; }

.super-ios7-arrow-thin-right:before {
  content: "\f280"; }

.super-ios7-arrow-thin-up:before {
  content: "\f281"; }

.super-ios7-arrow-up:before {
  content: "\f155"; }

.super-ios7-at:before {
  content: "\f157"; }

.super-ios7-at-outline:before {
  content: "\f156"; }

.super-ios7-barcode:before {
  content: "\f323"; }

.super-ios7-barcode-outline:before {
  content: "\f322"; }

.super-ios7-baseball:before {
  content: "\f325"; }

.super-ios7-baseball-outline:before {
  content: "\f324"; }

.super-ios7-basketball:before {
  content: "\f327"; }

.super-ios7-basketball-outline:before {
  content: "\f326"; }

.super-ios7-bell:before {
  content: "\f159"; }

.super-ios7-bell-outline:before {
  content: "\f158"; }

.super-ios7-bolt:before {
  content: "\f15b"; }

.super-ios7-bolt-outline:before {
  content: "\f15a"; }

.super-ios7-bookmarks:before {
  content: "\f15d"; }

.super-ios7-bookmarks-outline:before {
  content: "\f15c"; }

.super-ios7-box:before {
  content: "\f15f"; }

.super-ios7-box-outline:before {
  content: "\f15e"; }

.super-ios7-briefcase:before {
  content: "\f283"; }

.super-ios7-briefcase-outline:before {
  content: "\f282"; }

.super-ios7-browsers:before {
  content: "\f161"; }

.super-ios7-browsers-outline:before {
  content: "\f160"; }

.super-ios7-calculator:before {
  content: "\f285"; }

.super-ios7-calculator-outline:before {
  content: "\f284"; }

.super-ios7-calendar:before {
  content: "\f163"; }

.super-ios7-calendar-outline:before {
  content: "\f162"; }

.super-ios7-camera:before {
  content: "\f165"; }

.super-ios7-camera-outline:before {
  content: "\f164"; }

.super-ios7-cart:before {
  content: "\f167"; }

.super-ios7-cart-outline:before {
  content: "\f166"; }

.super-ios7-chatboxes:before {
  content: "\f169"; }

.super-ios7-chatboxes-outline:before {
  content: "\f168"; }

.super-ios7-chatbubble:before {
  content: "\f16b"; }

.super-ios7-chatbubble-outline:before {
  content: "\f16a"; }

.super-ios7-checkmark:before {
  content: "\f16e"; }

.super-ios7-checkmark-empty:before {
  content: "\f16c"; }

.super-ios7-checkmark-outline:before {
  content: "\f16d"; }

.super-ios7-circle-filled:before {
  content: "\f16f"; }

.super-ios7-circle-outline:before {
  content: "\f170"; }

.super-ios7-clock:before {
  content: "\f172"; }

.super-ios7-clock-outline:before {
  content: "\f171"; }

.super-ios7-close:before {
  content: "\f2bc"; }

.super-ios7-close-empty:before {
  content: "\f2bd"; }

.super-ios7-close-outline:before {
  content: "\f2bb"; }

.super-ios7-cloud:before {
  content: "\f178"; }

.super-ios7-cloud-download:before {
  content: "\f174"; }

.super-ios7-cloud-download-outline:before {
  content: "\f173"; }

.super-ios7-cloud-outline:before {
  content: "\f175"; }

.super-ios7-cloud-upload:before {
  content: "\f177"; }

.super-ios7-cloud-upload-outline:before {
  content: "\f176"; }

.super-ios7-cloudy:before {
  content: "\f17a"; }

.super-ios7-cloudy-night:before {
  content: "\f308"; }

.super-ios7-cloudy-night-outline:before {
  content: "\f307"; }

.super-ios7-cloudy-outline:before {
  content: "\f179"; }

.super-ios7-cog:before {
  content: "\f17c"; }

.super-ios7-cog-outline:before {
  content: "\f17b"; }

.super-ios7-compose:before {
  content: "\f17e"; }

.super-ios7-compose-outline:before {
  content: "\f17d"; }

.super-ios7-contact:before {
  content: "\f180"; }

.super-ios7-contact-outline:before {
  content: "\f17f"; }

.super-ios7-copy:before {
  content: "\f182"; }

.super-ios7-copy-outline:before {
  content: "\f181"; }

.super-ios7-download:before {
  content: "\f184"; }

.super-ios7-download-outline:before {
  content: "\f183"; }

.super-ios7-drag:before {
  content: "\f185"; }

.super-ios7-email:before {
  content: "\f187"; }

.super-ios7-email-outline:before {
  content: "\f186"; }

.super-ios7-expand:before {
  content: "\f30d"; }

.super-ios7-eye:before {
  content: "\f189"; }

.super-ios7-eye-outline:before {
  content: "\f188"; }

.super-ios7-fastforward:before {
  content: "\f18b"; }

.super-ios7-fastforward-outline:before {
  content: "\f18a"; }

.super-ios7-filing:before {
  content: "\f18d"; }

.super-ios7-filing-outline:before {
  content: "\f18c"; }

.super-ios7-film:before {
  content: "\f18f"; }

.super-ios7-film-outline:before {
  content: "\f18e"; }

.super-ios7-flag:before {
  content: "\f191"; }

.super-ios7-flag-outline:before {
  content: "\f190"; }

.super-ios7-folder:before {
  content: "\f193"; }

.super-ios7-folder-outline:before {
  content: "\f192"; }

.super-ios7-football:before {
  content: "\f329"; }

.super-ios7-football-outline:before {
  content: "\f328"; }

.super-ios7-gear:before {
  content: "\f195"; }

.super-ios7-gear-outline:before {
  content: "\f194"; }

.super-ios7-glasses:before {
  content: "\f197"; }

.super-ios7-glasses-outline:before {
  content: "\f196"; }

.super-ios7-heart:before {
  content: "\f199"; }

.super-ios7-heart-outline:before {
  content: "\f198"; }

.super-ios7-help:before {
  content: "\f19c"; }

.super-ios7-help-empty:before {
  content: "\f19a"; }

.super-ios7-help-outline:before {
  content: "\f19b"; }

.super-ios7-home:before {
  content: "\f32b"; }

.super-ios7-home-outline:before {
  content: "\f32a"; }

.super-ios7-infinite:before {
  content: "\f19e"; }

.super-ios7-infinite-outline:before {
  content: "\f19d"; }

.super-ios7-information:before {
  content: "\f1a1"; }

.super-ios7-information-empty:before {
  content: "\f19f"; }

.super-ios7-information-outline:before {
  content: "\f1a0"; }

.super-ios7-ionic-outline:before {
  content: "\f1a2"; }

.super-ios7-keypad:before {
  content: "\f1a4"; }

.super-ios7-keypad-outline:before {
  content: "\f1a3"; }

.super-ios7-lightbulb:before {
  content: "\f287"; }

.super-ios7-lightbulb-outline:before {
  content: "\f286"; }

.super-ios7-location:before {
  content: "\f1a6"; }

.super-ios7-location-outline:before {
  content: "\f1a5"; }

.super-ios7-locked:before {
  content: "\f1a8"; }

.super-ios7-locked-outline:before {
  content: "\f1a7"; }

.super-ios7-loop:before {
  content: "\f32d"; }

.super-ios7-loop-strong:before {
  content: "\f32c"; }

.super-ios7-medkit:before {
  content: "\f289"; }

.super-ios7-medkit-outline:before {
  content: "\f288"; }

.super-ios7-mic:before {
  content: "\f1ab"; }

.super-ios7-mic-off:before {
  content: "\f1a9"; }

.super-ios7-mic-outline:before {
  content: "\f1aa"; }

.super-ios7-minus:before {
  content: "\f1ae"; }

.super-ios7-minus-empty:before {
  content: "\f1ac"; }

.super-ios7-minus-outline:before {
  content: "\f1ad"; }

.super-ios7-monitor:before {
  content: "\f1b0"; }

.super-ios7-monitor-outline:before {
  content: "\f1af"; }

.super-ios7-moon:before {
  content: "\f1b2"; }

.super-ios7-moon-outline:before {
  content: "\f1b1"; }

.super-ios7-more:before {
  content: "\f1b4"; }

.super-ios7-more-outline:before {
  content: "\f1b3"; }

.super-ios7-musical-note:before {
  content: "\f1b5"; }

.super-ios7-musical-notes:before {
  content: "\f1b6"; }

.super-ios7-navigate:before {
  content: "\f1b8"; }

.super-ios7-navigate-outline:before {
  content: "\f1b7"; }

.super-ios7-paper:before {
  content: "\f32f"; }

.super-ios7-paper-outline:before {
  content: "\f32e"; }

.super-ios7-paperplane:before {
  content: "\f1ba"; }

.super-ios7-paperplane-outline:before {
  content: "\f1b9"; }

.super-ios7-partlysunny:before {
  content: "\f1bc"; }

.super-ios7-partlysunny-outline:before {
  content: "\f1bb"; }

.super-ios7-pause:before {
  content: "\f1be"; }

.super-ios7-pause-outline:before {
  content: "\f1bd"; }

.super-ios7-paw:before {
  content: "\f331"; }

.super-ios7-paw-outline:before {
  content: "\f330"; }

.super-ios7-people:before {
  content: "\f1c0"; }

.super-ios7-people-outline:before {
  content: "\f1bf"; }

.super-ios7-person:before {
  content: "\f1c2"; }

.super-ios7-person-outline:before {
  content: "\f1c1"; }

.super-ios7-personadd:before {
  content: "\f1c4"; }

.super-ios7-personadd-outline:before {
  content: "\f1c3"; }

.super-ios7-photos:before {
  content: "\f1c6"; }

.super-ios7-photos-outline:before {
  content: "\f1c5"; }

.super-ios7-pie:before {
  content: "\f28b"; }

.super-ios7-pie-outline:before {
  content: "\f28a"; }

.super-ios7-play:before {
  content: "\f1c8"; }

.super-ios7-play-outline:before {
  content: "\f1c7"; }

.super-ios7-plus:before {
  content: "\f1cb"; }

.super-ios7-plus-empty:before {
  content: "\f1c9"; }

.super-ios7-plus-outline:before {
  content: "\f1ca"; }

.super-ios7-pricetag:before {
  content: "\f28d"; }

.super-ios7-pricetag-outline:before {
  content: "\f28c"; }

.super-ios7-pricetags:before {
  content: "\f333"; }

.super-ios7-pricetags-outline:before {
  content: "\f332"; }

.super-ios7-printer:before {
  content: "\f1cd"; }

.super-ios7-printer-outline:before {
  content: "\f1cc"; }

.super-ios7-pulse:before {
  content: "\f335"; }

.super-ios7-pulse-strong:before {
  content: "\f334"; }

.super-ios7-rainy:before {
  content: "\f1cf"; }

.super-ios7-rainy-outline:before {
  content: "\f1ce"; }

.super-ios7-recording:before {
  content: "\f1d1"; }

.super-ios7-recording-outline:before {
  content: "\f1d0"; }

.super-ios7-redo:before {
  content: "\f1d3"; }

.super-ios7-redo-outline:before {
  content: "\f1d2"; }

.super-ios7-refresh:before {
  content: "\f1d6"; }

.super-ios7-refresh-empty:before {
  content: "\f1d4"; }

.super-ios7-refresh-outline:before {
  content: "\f1d5"; }

.super-ios7-reload:before, .super-ios7-reloading:before {
  content: "\f28e"; }

.super-ios7-reverse-camera:before {
  content: "\f337"; }

.super-ios7-reverse-camera-outline:before {
  content: "\f336"; }

.super-ios7-rewind:before {
  content: "\f1d8"; }

.super-ios7-rewind-outline:before {
  content: "\f1d7"; }

.super-ios7-search:before {
  content: "\f1da"; }

.super-ios7-search-strong:before {
  content: "\f1d9"; }

.super-ios7-settings:before {
  content: "\f339"; }

.super-ios7-settings-strong:before {
  content: "\f338"; }

.super-ios7-shrink:before {
  content: "\f30e"; }

.super-ios7-skipbackward:before {
  content: "\f1dc"; }

.super-ios7-skipbackward-outline:before {
  content: "\f1db"; }

.super-ios7-skipforward:before {
  content: "\f1de"; }

.super-ios7-skipforward-outline:before {
  content: "\f1dd"; }

.super-ios7-snowy:before {
  content: "\f309"; }

.super-ios7-speedometer:before {
  content: "\f290"; }

.super-ios7-speedometer-outline:before {
  content: "\f28f"; }

.super-ios7-star:before {
  content: "\f1e0"; }

.super-ios7-star-half:before {
  content: "\f33a"; }

.super-ios7-star-outline:before {
  content: "\f1df"; }

.super-ios7-stopwatch:before {
  content: "\f1e2"; }

.super-ios7-stopwatch-outline:before {
  content: "\f1e1"; }

.super-ios7-sunny:before {
  content: "\f1e4"; }

.super-ios7-sunny-outline:before {
  content: "\f1e3"; }

.super-ios7-telephone:before {
  content: "\f1e6"; }

.super-ios7-telephone-outline:before {
  content: "\f1e5"; }

.super-ios7-tennisball:before {
  content: "\f33c"; }

.super-ios7-tennisball-outline:before {
  content: "\f33b"; }

.super-ios7-thunderstorm:before {
  content: "\f1e8"; }

.super-ios7-thunderstorm-outline:before {
  content: "\f1e7"; }

.super-ios7-time:before {
  content: "\f292"; }

.super-ios7-time-outline:before {
  content: "\f291"; }

.super-ios7-timer:before {
  content: "\f1ea"; }

.super-ios7-timer-outline:before {
  content: "\f1e9"; }

.super-ios7-toggle:before {
  content: "\f33e"; }

.super-ios7-toggle-outline:before {
  content: "\f33d"; }

.super-ios7-trash:before {
  content: "\f1ec"; }

.super-ios7-trash-outline:before {
  content: "\f1eb"; }

.super-ios7-undo:before {
  content: "\f1ee"; }

.super-ios7-undo-outline:before {
  content: "\f1ed"; }

.super-ios7-unlocked:before {
  content: "\f1f0"; }

.super-ios7-unlocked-outline:before {
  content: "\f1ef"; }

.super-ios7-upload:before {
  content: "\f1f2"; }

.super-ios7-upload-outline:before {
  content: "\f1f1"; }

.super-ios7-videocam:before {
  content: "\f1f4"; }

.super-ios7-videocam-outline:before {
  content: "\f1f3"; }

.super-ios7-volume-high:before {
  content: "\f1f5"; }

.super-ios7-volume-low:before {
  content: "\f1f6"; }

.super-ios7-wineglass:before {
  content: "\f294"; }

.super-ios7-wineglass-outline:before {
  content: "\f293"; }

.super-ios7-world:before {
  content: "\f1f8"; }

.super-ios7-world-outline:before {
  content: "\f1f7"; }

.super-ipad:before {
  content: "\f1f9"; }

.super-iphone:before {
  content: "\f1fa"; }

.super-ipod:before {
  content: "\f1fb"; }

.super-jet:before {
  content: "\f295"; }

.super-key:before {
  content: "\f296"; }

.super-knife:before {
  content: "\f297"; }

.super-laptop:before {
  content: "\f1fc"; }

.super-leaf:before {
  content: "\f1fd"; }

.super-levels:before {
  content: "\f298"; }

.super-lightbulb:before {
  content: "\f299"; }

.super-link:before {
  content: "\f1fe"; }

.super-load-a:before, .super-loading-a:before {
  content: "\f29a"; }

.super-load-b:before, .super-loading-b:before {
  content: "\f29b"; }

.super-load-c:before, .super-loading-c:before {
  content: "\f29c"; }

.super-load-d:before, .super-loading-d:before {
  content: "\f29d"; }

.super-location:before {
  content: "\f1ff"; }

.super-locked:before {
  content: "\f200"; }

.super-log-in:before {
  content: "\f29e"; }

.super-log-out:before {
  content: "\f29f"; }

.super-loop:before, .super-looping:before {
  content: "\f201"; }

.super-magnet:before {
  content: "\f2a0"; }

.super-male:before {
  content: "\f2a1"; }

.super-man:before {
  content: "\f202"; }

.super-map:before {
  content: "\f203"; }

.super-medkit:before {
  content: "\f2a2"; }

.super-merge:before {
  content: "\f33f"; }

.super-mic-a:before {
  content: "\f204"; }

.super-mic-b:before {
  content: "\f205"; }

.super-mic-c:before {
  content: "\f206"; }

.super-minus:before {
  content: "\f209"; }

.super-minus-circled:before {
  content: "\f207"; }

.super-minus-round:before {
  content: "\f208"; }

.super-model-s:before {
  content: "\f2c1"; }

.super-monitor:before {
  content: "\f20a"; }

.super-more:before {
  content: "\f20b"; }

.super-mouse:before {
  content: "\f340"; }

.super-music-note:before {
  content: "\f20c"; }

.super-navicon:before {
  content: "\f20e"; }

.super-navicon-round:before {
  content: "\f20d"; }

.super-navigate:before {
  content: "\f2a3"; }

.super-network:before {
  content: "\f341"; }

.super-no-smoking:before {
  content: "\f2c2"; }

.super-nuclear:before {
  content: "\f2a4"; }

.super-outlet:before {
  content: "\f342"; }

.super-paper-airplane:before {
  content: "\f2c3"; }

.super-paperclip:before {
  content: "\f20f"; }

.super-pause:before {
  content: "\f210"; }

.super-person:before {
  content: "\f213"; }

.super-person-add:before {
  content: "\f211"; }

.super-person-stalker:before {
  content: "\f212"; }

.super-pie-graph:before {
  content: "\f2a5"; }

.super-pin:before {
  content: "\f2a6"; }

.super-pinpoint:before {
  content: "\f2a7"; }

.super-pizza:before {
  content: "\f2a8"; }

.super-plane:before {
  content: "\f214"; }

.super-planet:before {
  content: "\f343"; }

.super-play:before {
  content: "\f215"; }

.super-playstation:before {
  content: "\f30a"; }

.super-plus:before {
  content: "\f218"; }

.super-plus-circled:before {
  content: "\f216"; }

.super-plus-round:before {
  content: "\f217"; }

.super-podium:before {
  content: "\f344"; }

.super-pound:before {
  content: "\f219"; }

.super-power:before {
  content: "\f2a9"; }

.super-pricetag:before {
  content: "\f2aa"; }

.super-pricetags:before {
  content: "\f2ab"; }

.super-printer:before {
  content: "\f21a"; }

.super-pull-request:before {
  content: "\f345"; }

.super-qr-scanner:before {
  content: "\f346"; }

.super-quote:before {
  content: "\f347"; }

.super-radio-waves:before {
  content: "\f2ac"; }

.super-record:before {
  content: "\f21b"; }

.super-refresh:before, .super-refreshing:before {
  content: "\f21c"; }

.super-reply:before {
  content: "\f21e"; }

.super-reply-all:before {
  content: "\f21d"; }

.super-ribbon-a:before {
  content: "\f348"; }

.super-ribbon-b:before {
  content: "\f349"; }

.super-sad:before {
  content: "\f34a"; }

.super-scissors:before {
  content: "\f34b"; }

.super-search:before {
  content: "\f21f"; }

.super-settings:before {
  content: "\f2ad"; }

.super-share:before {
  content: "\f220"; }

.super-shuffle:before {
  content: "\f221"; }

.super-skip-backward:before {
  content: "\f222"; }

.super-skip-forward:before {
  content: "\f223"; }

.super-social-android:before {
  content: "\f225"; }

.super-social-android-outline:before {
  content: "\f224"; }

.super-social-apple:before {
  content: "\f227"; }

.super-social-apple-outline:before {
  content: "\f226"; }

.super-social-bitcoin:before {
  content: "\f2af"; }

.super-social-bitcoin-outline:before {
  content: "\f2ae"; }

.super-social-buffer:before {
  content: "\f229"; }

.super-social-buffer-outline:before {
  content: "\f228"; }

.super-social-designernews:before {
  content: "\f22b"; }

.super-social-designernews-outline:before {
  content: "\f22a"; }

.super-social-dribbble:before {
  content: "\f22d"; }

.super-social-dribbble-outline:before {
  content: "\f22c"; }

.super-social-dropbox:before {
  content: "\f22f"; }

.super-social-dropbox-outline:before {
  content: "\f22e"; }

.super-social-facebook:before {
  content: "\f231"; }

.super-social-facebook-outline:before {
  content: "\f230"; }

.super-social-foursquare:before {
  content: "\f34d"; }

.super-social-foursquare-outline:before {
  content: "\f34c"; }

.super-social-freebsd-devil:before {
  content: "\f2c4"; }

.super-social-github:before {
  content: "\f233"; }

.super-social-github-outline:before {
  content: "\f232"; }

.super-social-google:before {
  content: "\f34f"; }

.super-social-google-outline:before {
  content: "\f34e"; }

.super-social-googleplus:before {
  content: "\f235"; }

.super-social-googleplus-outline:before {
  content: "\f234"; }

.super-social-hackernews:before {
  content: "\f237"; }

.super-social-hackernews-outline:before {
  content: "\f236"; }

.super-social-instagram:before {
  content: "\f351"; }

.super-social-instagram-outline:before {
  content: "\f350"; }

.super-social-linkedin:before {
  content: "\f239"; }

.super-social-linkedin-outline:before {
  content: "\f238"; }

.super-social-pinterest:before {
  content: "\f2b1"; }

.super-social-pinterest-outline:before {
  content: "\f2b0"; }

.super-social-reddit:before {
  content: "\f23b"; }

.super-social-reddit-outline:before {
  content: "\f23a"; }

.super-social-rss:before {
  content: "\f23d"; }

.super-social-rss-outline:before {
  content: "\f23c"; }

.super-social-skype:before {
  content: "\f23f"; }

.super-social-skype-outline:before {
  content: "\f23e"; }

.super-social-tumblr:before {
  content: "\f241"; }

.super-social-tumblr-outline:before {
  content: "\f240"; }

.super-social-tux:before {
  content: "\f2c5"; }

.super-social-twitter:before {
  content: "\f243"; }

.super-social-twitter-outline:before {
  content: "\f242"; }

.super-social-usd:before {
  content: "\f353"; }

.super-social-usd-outline:before {
  content: "\f352"; }

.super-social-vimeo:before {
  content: "\f245"; }

.super-social-vimeo-outline:before {
  content: "\f244"; }

.super-social-windows:before {
  content: "\f247"; }

.super-social-windows-outline:before {
  content: "\f246"; }

.super-social-wordpress:before {
  content: "\f249"; }

.super-social-wordpress-outline:before {
  content: "\f248"; }

.super-social-yahoo:before {
  content: "\f24b"; }

.super-social-yahoo-outline:before {
  content: "\f24a"; }

.super-social-youtube:before {
  content: "\f24d"; }

.super-social-youtube-outline:before {
  content: "\f24c"; }

.super-speakerphone:before {
  content: "\f2b2"; }

.super-speedometer:before {
  content: "\f2b3"; }

.super-spoon:before {
  content: "\f2b4"; }

.super-star:before {
  content: "\f24e"; }

.super-stats-bars:before {
  content: "\f2b5"; }

.super-steam:before {
  content: "\f30b"; }

.super-stop:before {
  content: "\f24f"; }

.super-thermometer:before {
  content: "\f2b6"; }

.super-thumbsdown:before {
  content: "\f250"; }

.super-thumbsup:before {
  content: "\f251"; }

.super-toggle:before {
  content: "\f355"; }

.super-toggle-filled:before {
  content: "\f354"; }

.super-trash-a:before {
  content: "\f252"; }

.super-trash-b:before {
  content: "\f253"; }

.super-trophy:before {
  content: "\f356"; }

.super-umbrella:before {
  content: "\f2b7"; }

.super-university:before {
  content: "\f357"; }

.super-unlocked:before {
  content: "\f254"; }

.super-upload:before {
  content: "\f255"; }

.super-usb:before {
  content: "\f2b8"; }

.super-videocamera:before {
  content: "\f256"; }

.super-volume-high:before {
  content: "\f257"; }

.super-volume-low:before {
  content: "\f258"; }

.super-volume-medium:before {
  content: "\f259"; }

.super-volume-mute:before {
  content: "\f25a"; }

.super-wand:before {
  content: "\f358"; }

.super-waterdrop:before {
  content: "\f25b"; }

.super-wifi:before {
  content: "\f25c"; }

.super-wineglass:before {
  content: "\f2b9"; }

.super-woman:before {
  content: "\f25d"; }

.super-wrench:before {
  content: "\f2ba"; }

.super-xbox:before {
  content: "\f30c"; }
