<ss-navigation-bar>
  <ss-navigation-bar-title>
    Supersonic Tests
  </ss-navigation-bar-title>
</ss-navigation-bar>

<ul class="list">
  <h1 class="item item-divider">JavaScript</h1>
  <ss-magic action="click" navigate="/app/steroids/index.html">
    <li class="item item-icon-right">
      Steroids APIs <i class="icon ion-ios7-arrow-right"></i>
    </li>
  </ss-magic>
  <ss-magic action="click" navigate="/app/bordova/index.html">
    <li class="item item-icon-right">
      Cordova APIs <i class="icon ion-ios7-arrow-right"></i>
    </li>
  </ss-magic>
  <ss-magic action="click" navigate="/app/supersonic/index.html">
    <li class="item item-icon-right">
      Supersonic APIs <i class="icon ion-ios7-arrow-right"></i>
    </li>
  </ss-magic>

  <h1 class="item item-divider">CSS</h1>
  <ss-magic action="click" navigate="/app/cssComponents/index.html">
    <li class="item item-icon-right">
      Supersonic CSS Components <i class="icon ion-ios7-arrow-right"></i>
    </li>
  </ss-magic>

  <h1 class="item item-divider">Web Components</h1>
  <ss-magic action="click" navigate="/app/webComponents/index.html">
    <li class="item item-icon-right">
      Supersonic Web Components <i class="icon ion-ios7-arrow-right"></i>
    </li>
  </ss-magic>
</ul>
