<ss-navigation-bar>
  <ss-navigation-bar-title>
    Supersonic Tests
  </ss-navigation-bar-title>
</ss-navigation-bar>

<ul class="list">
  <h1 class="item item-divider">JavaScript</h1>
  <super-navigate location="app#index">
    <li class="item item-icon-right">
      App APIs <i class="icon ion-ios7-arrow-right"></i>
    </li>
  </super-navigate>
  <super-navigate location="notification#index">
    <li class="item item-icon-right">
      Notification APIs <i class="icon ion-ios7-arrow-right"></i>
    </li>
  </super-navigate>
  <super-navigate location="core#ping">
    <li class="item item-icon-right">
      Core APIs <i class="icon ion-ios7-arrow-right"></i>
    </li>
  </super-navigate>
  <super-navigate location="device#index">
    <li class="item item-icon-right">
      Device APIs <i class="icon ion-ios7-arrow-right"></i>
    </li>
  </super-navigate>
  <super-navigate location="media#index">
    <li class="item item-icon-right">
      Media APIs <i class="icon ion-ios7-arrow-right"></i>
    </li>
  </super-navigate>

  <super-navigate location="ui#index">
    <li class="item item-icon-right">
      UI APIs <i class="icon ion-ios7-arrow-right"></i>
    </li>
  </super-navigate>

  <h1 class="item item-divider">CSS</h1>
  <super-navigate location="cssComponents#index">
    <li class="item item-icon-right">
      Supersonic CSS Components <i class="icon ion-ios7-arrow-right"></i>
    </li>
  </super-navigate>

  <h1 class="item item-divider">Web Components</h1>
  <super-navigate location="webComponents#index">
    <li class="item item-icon-right">
      Supersonic Web Components <i class="icon ion-ios7-arrow-right"></i>
    </li>
  </super-navigate>
</ul>
