<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <title><%= yield.viewName %></title>

  <link rel="stylesheet" href="/components/supersonic/dist/css/supersonic.css" />
  <link rel="import" href="/components/supersonic/dist/components/import.html">

  <script src="http://localhost/cordova.js"></script>
  <script src="/components/steroids-js/steroids.js"></script>
  <script src="/components/angular/angular.js"></script>
  <script src="/components/supersonic/dist/supersonic.js"></script>
  <script src="/components/platform/platform.js"></script>

  <% _.each(yield.modules, function(module) { %>
  <script src="/app/<%= module %>.js"></script>
  <% }); %>
</head>
<body ng-app="<%= yield.moduleName %>">

<%= yield.view %>

  <ss-tab-bar>
    <tab title="InlineButton" icon="icons/pill@2x.png" badge="1" navigate="http://localhost/views/index/index.html"/>
    <tab title="Components" icon="icons/telescope@2x.png" navigate="http://localhost/views/components/index.html"/>
  </ss-tab-bar>

</body>
</html>
