<div ng-controller="IndexCtrl" class="body">
  <button class="button">
    <i class="icon ion-loading-c"></i> Loading...
  </button>

  <button class="button icon-left ss-home">Home</button>

  <button class="button icon-left ss-star button-positive">Favorites</button>

  <a class="button icon-right ss-chevron-right button-calm">Learn More</a>

  <a class="button icon-left ss-chevron-left button-clear button-dark">Back</a>

  <button class="button icon ss-gear-a"></button>

  <a class="button button-icon icon ss-settings"></a>

<a class="button button-outline icon-right ss-navicon button-balanced">Reorder</a>

</div>
