<div>

  <super-navbar>
    <super-navbar-title>
      Module APIs
    </super-navbar-title>
  </super-navbar>

  <ul class="list">
    <super-navigate location="module#attributes?attribute-from-parent-url-param=also-present">
      <li class="item item-icon-right">
        Attributes <i class="icon super-ios-arrow-right"></i>
      </li>
    </super-navigate>
    <super-navigate location="module#attribute-scope-isolation?isolated-iframe-should-not-get-access-to-this=true">
      <li class="item item-icon-right">
        Attribute scope isolation <i class="icon super-ios-arrow-right"></i>
      </li>
    </super-navigate>
    <super-navigate location="module#data-channels">
      <li class="item item-icon-right">
        Data channels <i class="icon super-ios-arrow-right"></i>
      </li>
    </super-navigate>
    <super-navigate location="module#iframe-size-autoadjust">
      <li class="item item-icon-right">
        Iframe size autoadjust <i class="icon super-ios-arrow-right"></i>
      </li>
    </super-navigate>
    <super-navigate location="module#iframe-loading-indicator">
      <li class="item item-icon-right">
        Iframe loading indicator <i class="icon super-ios-arrow-right"></i>
      </li>
    </super-navigate>
    <super-navigate location="module#transitions">
      <li class="item item-icon-right">
        Transitions <i class="icon super-ios-arrow-right"></i>
      </li>
    </super-navigate>
    <super-navigate location="module#tabs">
      <li class="item item-icon-right">
        Tabbed Modules <i class="icon super-ios-arrow-right"></i>
      </li>
    </super-navigate>
  </ul>
</div>
