<div>

  <super-navbar>
    <super-navbar-title>
      Module APIs
    </super-navbar-title>
  </super-navbar>

  <ul class="list">
    <super-navigate location="module#attributes?attribute-from-url-param=present">
      <li class="item item-icon-right">
        Attributes <i class="icon super-ios7-arrow-right"></i>
      </li>
    </super-navigate>
    <super-navigate location="module#iframe-size-autoadjust">
      <li class="item item-icon-right">
        Iframe size autoadjust <i class="icon super-ios7-arrow-right"></i>
      </li>
    </super-navigate>
    <super-navigate location="module#transitions">
      <li class="item item-icon-right">
        Transitions <i class="icon super-ios7-arrow-right"></i>
      </li>
    </super-navigate>
  </ul>
</div>
