<style>

  body {
    margin: 0;
    padding: 0;
  }
  iframe {
    height: 30px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px black solid;
  }
</style>

<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-title>
      Module Index
    </super-navbar-title>
  </super-navbar>


  <div class="padding">
    <h1>Pow! Here's the Enterprise Module!</h1>
  </div>

  <div>
    Found the following iframes:
    <ul>
      <li ng-repeat="moduleElement in moduleElements">{{ moduleElement.src }}</li>
    </ul>
  <div>


  <iframe data-module src="module-index.html"></iframe>

</div>
