<div class="module-tabset">
  <div class="module-tabset__tab-bar">
    <ul>
      <li><a href="">Cats</a></li>
      <li><a href="">Dogs</a></li>
    </ul>
    <div class="module-tabset__tab-bar__fader-left"></div>
    <div class="module-tabset__tab-bar__fader-right"></div>
  </div>
  <div class="module-tabset__content">

    <div class="module-tabset__pane">
      <iframe
        data-module
        data-module-indicate-loading
        data-module-name="Cats"
        data-date-format="MMMM Do YYYY, h:mm:ss a"
        src="tab-cats.html"></iframe>
    </div>

    <div class="module-tabset__pane">
      <iframe
        data-module
        data-module-indicate-loading
        data-module-name="Dogs"
        data-date-format="MMMM Do YYYY, h:mm:ss a"
        src="tab-dogs.html"></iframe>
    </div>
  </div>
</div>
