<div ng-controller="UploadController">

  <super-navbar>
    <super-navbar-title>
      Data: File uploads
    </super-navbar-title>
  </super-navbar>

  <div class="list list-inset">

    <div class="item">
      <label class="input-label">Description</label>
      <input
        class="item-input"
        type="text"
        ng-model="record.description" />
    </div>

    <div class="item">
      <label class="input-label">File</label>
      <input
        class="item-input"
        type="file"
        select-file-as="record.file" />
    </div>

    <div class="item">
      <button
        type="submit"
        class="button button-positive"
        ng-disabled="uploading"
        ng-click="upload()">
          Start upload
      </button>
    </div>
  </div>

  <div class="list list-inset">
    <div class="item item-thumbnail-left" ng-repeat="upload in uploads">
      <img ng-src="{{ upload.file.download_url }}" />
      <h3>{{ upload.description }}</h3>
    </div>
  </div>

</div>
