<div>

  <super-navbar>
    <super-navbar-title>
      Try to navigate out of this view
    </super-navbar-title>
  </super-navbar>


  <iframe
    data-module
    data-module-indicate-loading
    data-module-name="#1"
    ag-src="create-notifications-at-intervals.html">
  </iframe>

  <iframe
    data-module
    data-module-indicate-loading
    data-module-name="#2"
    ag-src="create-notifications-at-intervals.html">
  </iframe>

  <iframe
    data-module
    data-module-indicate-loading
    data-module-name="#3"
    ag-src="create-notifications-at-intervals.html">
  </iframe>

</div>
