<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      Media tests
    </super-navbar-title>
  </super-navbar>

  <div class="card padding">
    <h1>camera.takePicture tests</h1>
    <button
      class="button button-block"
      ng-repeat="test in takePictureTests"
      ng-click="testTakePicture(test.options)">
      {{test.title}}
    </button>
    <button class="button button-block" ng-click="testTakePictureWithCallbacks()">
      Take A Picture With Callbacks
    </button>
    <ul>
      <li>picture URL: {{pictureURL}}</li>
    </ul>
    <img ng-src="{{picturePath}}" alt="">
  </div>

  <div class="card padding">
    <h1>camera.getFromPhotoLibarary tests</h1>
    <button
      class="button button-block"
      ng-repeat="test in getFromPhotoLibraryTests"
      ng-click="testGetFromPhotoLibrary(test.options)">
      {{test.title}}
    </button>
    <button class="button button-block" ng-click="testGetFromPhotoLibraryWithCallbacks()">
      Get From Photo Library With Callbacks
    </button>
    <ul>
      <li>picture URL: {{fromLibraryURL}}</li>
    </ul>
    <img ng-src="{{fromLibraryPath}}" alt="">
  </div>

  <div class="card padding">
    <h1>audio.play tests</h1>
    <button
      class="button button-block"
      ng-repeat="test in playAudioTests"
      ng-click="testPlayAudio(test.options)">
      {{test.title}}
    </button>
    <ul>
      <li>Number of times played: {{played}}</li>
    </ul>
  </div>

</div>
