<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      Tasks
    </super-navbar-title>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <ul class="list">
      <super-navigate ng-attr-location="data#show?id={{ task.id }}" ng-repeat="task in tasks">
        <li class="item item-icon-right">
          <span ng-bind="task.description"></span>
          <i class="icon super-ios7-arrow-right"></i>
        </li>
      </super-navigate>
    </ul>

    <super-modal-show location="data#new">
      <button class="button button-full button-positive">
        Create a new task
      </button>
    </super-modal-show>
  </div>

  <button class="button button-full button-positive" ng-click="sendChannelMessage()">
    Send message through a channel
  </button>


</div>
