<div ng-controller="IndexController">
  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <ul class="list">
      <li class="item item-icon-right" ng-click="open(task.uid)" ng-repeat="task in tasks">
        <span ng-bind="task.description"></span>
        <i class="icon ion-ios7-arrow-right"></i>
      </li>
    </ul>

    <button ng-click="showModal()" class="button button-full button-positive">
      Create a new task
    </button>
  </div>
</div>
