<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      Show Task
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
      <h2 ng-bind="task.description"></h2>

      <div class="card" ng-if="task.completed">
        <div class="item item-text-wrap">
          Completed
        </div>
      </div>

      <super-modal-show location="data#edit?id={{ task.id }}">
        <button class="button button-block button-positive">
          Edit
        </button>
      </super-modal-show>

      <button ng-click="remove(task.id)" class="button button-block button-negative">
        Remove
      </button>
    </div>
  </div>
</div>
