<div ng-controller="ShowController" class="padding">
  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <h2 ng-bind="task.description"></h2>
    
    
    
     <p>done: <span ng-bind="task.done"></span></p> 
    

    <button ng-click="showEditModal(task.uid)" class="button button-block button-positive">
      Edit
    </button>

    <button ng-click="remove(task.uid)" class="button button-block button-negative">
      Remove
    </button>
  </div>
</div>
