<div class="padding">

  <super-navbar>
    <super-navbar-title>
      Buttons
    </super-navbar-title>
  </super-navbar>



  <button class="button">
    Default
  </button>

  <button class="button button-light">
    button-light
  </button>

  <button class="button button-stable">
    button-stable
  </button>

  <button class="button button-positive">
    button-positive
  </button>

  <button class="button button-calm">
    button-calm
  </button>

  <button class="button button-balanced">
    button-balanced
  </button>

  <button class="button button-energized">
    button-energized
  </button>

  <button class="button button-assertive">
    button-assertive
  </button>

  <button class="button button-royal">
    button-royal
  </button>

  <button class="button button-dark">
    button-dark
  </button>



  <h2>
    Buttons with icons in different sizes
  </h2>

  <button class="button">
  <i class="icon ion-loading-c"></i> Loading...
  </button>

  <button class="button icon-left ion-home button-small button-royal">Small Home</button>

  <button class="button icon-left ion-home">Normal Home</button>

  <button class="button icon-left ion-home button-large button-energized">Big Home</button>

  <button class="button icon-left ion-star button-positive">Favorites</button>

  <a class="button icon-right ion-chevron-right button-calm">Learn More</a>

  <a class="button icon-left ion-chevron-left button-clear button-dark">Back</a>

  <button class="button icon ion-gear-a button-small button-dark"></button>

  <button class="button icon ion-gear-a"></button>

  <button class="button icon ion-gear-a button-large button-assertive"></button>

  <a class="button button-icon icon ion-settings"></a>

  <a class="button button-outline icon-right ion-navicon button-balanced">Reorder</a>



  <h2>
    Block Buttons
  </h2>

  <button class="button button-block button-positive">
    Block Button
  </button>

  <button class="button button-full button-positive">
    Full Width Block Button
  </button>



  <h2>
    Button bar
  </h2>

  <div class="button-bar">
    <a class="button">First</a>
    <a class="button">Second</a>
    <a class="button">Third</a>
  </div>

</div>