<div class="padding">

  <ss-navigation-bar>
    <ss-navigation-bar-title>
      Checkboxes
    </ss-navigation-bar-title>
  </ss-navigation-bar>

  <ul class="list">

    <li class="item item-checkbox">
       <label class="checkbox">
         <input type="checkbox">
       </label>
       Flux Capacitor
    </li>

    <li class="item item-checkbox">
       <label class="checkbox checkbox-assertive">
         <input type="checkbox">
       </label>
       Warp Engine
    </li>

    <li class="item item-checkbox">
       <label class="checkbox checkbox-calm">
         <input type="checkbox">
       </label>
       Ion Drive
    </li>

  </ul>

</div>