<div class="padding">

  <super-navbar>
    <super-navbar-title>
      Forms
    </super-navbar-title>
  </super-navbar>

  <h2>Placeholder labels</h2>

  <div class="list">
    <label class="item item-input">
      <input type="text" placeholder="First Name">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Last Name">
    </label>
    <label class="item item-input">
      <textarea placeholder="Comments"></textarea>
    </label>
  </div>

  <h2>Inline labels</h2>

  <div class="list">
    <label class="item item-input">
      <span class="input-label">Username</span>
      <input type="text">
    </label>
    <label class="item item-input">
      <span class="input-label">Password</span>
      <input type="password">
    </label>
  </div>

  <h2>Stacked labels</h2>

  <div class="list">
    <label class="item item-input item-stacked-label">
      <span class="input-label">First Name</span>
      <input type="text" placeholder="John">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Last Name</span>
      <input type="text" placeholder="Suhr">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Email</span>
      <input type="text" placeholder="john@suhr.com">
    </label>
  </div>

  <h2>Floating labels</h2>

  <div class="list">
    <label class="item item-input item-floating-label">
      <span class="input-label">First Name</span>
      <input type="text" placeholder="First Name">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">Last Name</span>
      <input type="text" placeholder="Last Name">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">Email</span>
      <input type="text" placeholder="Email">
    </label>
  </div>

  <h2>Inset forms</h2>

  <div class="list list-inset">
    <label class="item item-input">
      <input type="text" placeholder="First Name">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Last Name">
    </label>
  </div>

  <h2>Inset inputs</h2>

  <div class="list">

    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Email">
      </label>
      <button class="button button-small">
        Submit
      </button>
    </div>

  </div>

  <h2>Input with icons</h2>

  <div class="list list-inset">
    <label class="item item-input">
      <i class="icon super-search placeholder-icon"></i>
      <input type="text" placeholder="Search">
    </label>
  </div>

  <h2>Input in headers</h2>

  <div class="bar bar-header item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon super-ios7-search placeholder-icon"></i>
      <input type="search" placeholder="Search">
    </label>
    <button class="button button-clear">
      Cancel
    </button>
  </div>

</div>
