<style>

.col {
  border: 1px solid #f88796;
  background-color: #fccbd2;
  margin: 5px;
}

</style>

<div class="padding">

  <super-navbar>
    <super-navbar-title>
      Grid
    </super-navbar-title>
  </super-navbar>

  <h2>Evenly spaced</h2>

  <div class="row">
    <div class="col">.col</div>
    <div class="col">.col</div>
    <div class="col">.col</div>
    <div class="col">.col</div>
    <div class="col">.col</div>
  </div>

  <h2>Explicit sizes</h2>

  <div class="row">
    <div class="col col-50">.col.col-50</div>
    <div class="col">.col</div>
    <div class="col">.col</div>
  </div>

  <div class="row">
    <div class="col col-75">.col.col-75</div>
    <div class="col">.col</div>
  </div>

  <div class="row">
    <div class="col">.col</div>
    <div class="col col-75">.col.col-75</div>
  </div>

  <div class="row">
    <div class="col">.col</div>
    <div class="col">.col</div>
  </div>

  <h2>Offsets</h2>

  <div class="row">
    <div class="col col-33 col-offset-33">offset-33.col</div>
    <div class="col">.col</div>
  </div>

  <div class="row">
    <div class="col col-33">.col</div>
    <div class="col col-33 col-offset-33">offset-33.col</div>
  </div>

  <div class="row">
    <div class="col col-33 col-offset-67">offset-67.col</div>
  </div>

  <h2>Vertically aligned</h2>

  <div class="row">
    <div class="col">.col</div>
    <div class="col">.col</div>
    <div class="col">.col</div>
    <div class="col">1<br>2<br>3<br>4</div>
  </div>

  <div class="row">
    <div class="col col-top">.col</div>
    <div class="col col-center">.col</div>
    <div class="col col-bottom">.col</div>
    <div class="col">1<br>2<br>3<br>4</div>
  </div>

  <div class="row row-top">
    <div class="col">.col</div>
    <div class="col">.col</div>
    <div class="col">.col</div>
    <div class="col">1<br>2<br>3<br>4</div>
  </div>

  <div class="row row-center">
    <div class="col">.col</div>
    <div class="col">.col</div>
    <div class="col">.col</div>
    <div class="col">1<br>2<br>3<br>4</div>
  </div>

  <div class="row row-bottom">
    <div class="col">.col</div>
    <div class="col">.col</div>
    <div class="col">.col</div>
    <div class="col">1<br>2<br>3<br>4</div>
  </div>

  <h2>Responsive</h2>

  <div class="row responsive-sm">
    <div class="col">.col</div>
    <div class="col">.col</div>
    <div class="col">.col</div>
    <div class="col">.col</div>
  </div>

</div>