<ss-navigation-bar>
  <ss-navigation-bar-title>
    CSS Components
  </ss-navigation-bar-title>
</ss-navigation-bar>

<ul class="list">

  <ss-magic action="click" navigate="/app/cssComponents/buttons.html">
    <li class="item item-icon-left item-icon-right">
      <i class="icon ion-social-youtube-outline"></i>
      Buttons
      <i class="icon ion-ios7-arrow-right"></i>
    </li>
  </ss-magic>

  <ss-magic action="click" navigate="/app/cssComponents/lists.html">
    <li class="item item-icon-left item-icon-right">
      <i class="icon ion-clipboard"></i>
      Lists
      <i class="icon ion-ios7-arrow-right"></i>
    </li>
  </ss-magic>

  <ss-magic action="click" navigate="/app/cssComponents/cards.html">
    <li class="item item-icon-left item-icon-right">
      <i class="icon ion-card"></i>
      Cards
      <i class="icon ion-ios7-arrow-right"></i>
    </li>
  </ss-magic>

</ul>
