<super-navbar>
  <super-navbar-title>
    CSS Components
  </super-navbar-title>
</super-navbar>

<ul class="list">

  <super-navigate location="/app/cssComponents/buttons.html">
    <li class="item item-icon-left item-icon-right">
      <i class="icon ion-social-youtube-outline"></i>
      Buttons
      <i class="icon ion-ios7-arrow-right"></i>
    </li>
  </super-navigate>

  <super-navigate location="/app/cssComponents/lists.html">
    <li class="item item-icon-left item-icon-right">
      <i class="icon ion-clipboard"></i>
      Lists
      <i class="icon ion-ios7-arrow-right"></i>
    </li>
  </super-navigate>

  <super-navigate location="/app/cssComponents/cards.html">
    <li class="item item-icon-left item-icon-right">
      <i class="icon ion-card"></i>
      Cards
      <i class="icon ion-ios7-arrow-right"></i>
    </li>
  </super-navigate>

  <super-navigate location="/app/cssComponents/forms.html">
    <li class="item item-icon-left item-icon-right">
      <i class="icon ion-compose"></i>
      Forms
      <i class="icon ion-ios7-arrow-right"></i>
    </li>
  </super-navigate>

  <super-navigate location="/app/cssComponents/toggles.html">
    <li class="item item-icon-left item-icon-right">
      <i class="icon ion-ios7-toggle"></i>
      Toggles
      <i class="icon ion-ios7-arrow-right"></i>
    </li>
  </super-navigate>

  <super-navigate location="/app/cssComponents/checkboxes.html">
    <li class="item item-icon-left item-icon-right">
      <i class="icon ion-ios7-checkmark-outline"></i>
      Checkboxes
      <i class="icon ion-ios7-arrow-right"></i>
    </li>
  </super-navigate>

  <super-navigate location="/app/cssComponents/radiobuttons.html">
    <li class="item item-icon-left item-icon-right">
      <i class="icon ion-ios7-circle-filled"></i>
      Radio Buttons
      <i class="icon ion-ios7-arrow-right"></i>
    </li>
  </super-navigate>

  <super-navigate location="/app/cssComponents/ranges.html">
    <li class="item item-icon-left item-icon-right">
      <i class="icon ion-ios7-settings-strong"></i>
      Ranges
      <i class="icon ion-ios7-arrow-right"></i>
    </li>
  </super-navigate>

  <super-navigate location="/app/cssComponents/selects.html">
    <li class="item item-icon-left item-icon-right">
      <i class="icon ion-arrow-down-b"></i>
      Selects
      <i class="icon ion-ios7-arrow-right"></i>
    </li>
  </super-navigate>

  <super-navigate location="/app/cssComponents/grid.html">
    <li class="item item-icon-left item-icon-right">
      <i class="icon ion-grid"></i>
      Grid
      <i class="icon ion-ios7-arrow-right"></i>
    </li>
  </super-navigate>

</ul>
