<div class="padding">

  <ss-navigation-bar>
    <ss-navigation-bar-title>
      Radio Buttons
    </ss-navigation-bar-title>
  </ss-navigation-bar>

  <div class="list">

    <label class="item item-radio">
      <input type="radio" name="group">
      <div class="item-content">
        Chess
      </div>
      <i class="radio-icon ion-checkmark"></i>
    </label>

    <label class="item item-radio">
      <input type="radio" name="group">
      <div class="item-content">
        Go
      </div>
      <i class="radio-icon ion-happy"></i>
    </label>

    <label class="item item-radio">
      <input type="radio" name="group">
      <div class="item-content">
        Backgammon
      </div>
      <i class="radio-icon ion-heart"></i>
    </label>

    <label class="item item-radio">
      <input type="radio" name="group">
      <div class="item-content">
        Draughts
      </div>
      <i class="radio-icon ion-checkmark-circled"></i>
    </label>

  </div>

</div>