<div class="padding">

  <super-navbar>
    <super-navbar-title>
      Radio Buttons
    </super-navbar-title>
  </super-navbar>

  <div class="list">

    <label class="item item-radio">
      <input type="radio" name="group">
      <div class="item-content">
        Chess
      </div>
      <i class="radio-icon super-checkmark"></i>
    </label>

    <label class="item item-radio">
      <input type="radio" name="group">
      <div class="item-content">
        Go
      </div>
      <i class="radio-icon super-happy"></i>
    </label>

    <label class="item item-radio">
      <input type="radio" name="group">
      <div class="item-content">
        Backgammon
      </div>
      <i class="radio-icon super-heart"></i>
    </label>

    <label class="item item-radio">
      <input type="radio" name="group">
      <div class="item-content">
        Draughts
      </div>
      <i class="radio-icon super-checkmark-circled"></i>
    </label>

  </div>

</div>
