<div class="padding">

  <ss-navigation-bar>
    <ss-navigation-bar-title>
      Selects
    </ss-navigation-bar-title>
  </ss-navigation-bar>

  <div class="list">

    <label class="item item-input item-select">
      <div class="input-label">
        Lightsaber
      </div>
      <select>
        <option>Blue</option>
        <option selected>Green</option>
        <option>Red</option>
      </select>
    </label>

    <label class="item item-input item-select">
      <div class="input-label">
        Shirt color
      </div>
      <select>
        <option>Cadet Red</option>
        <option selected>Command Gold</option>
        <option>Science Blue</option>
      </select>
    </label>

    <label class="item item-input item-select">
      <div class="input-label">
        Planet
      </div>
      <select>
        <option>Vulcan</option>
        <option selected>Terra</option>
        <option>Psi 2000</option>
        <option>Talos IV</option>
        <option>Alderaan</option>
      </select>
    </label>

  </div>

</div>