<div class="padding">

  <super-navbar>
    <super-navbar-title>
      Toggles
    </super-navbar-title>
  </super-navbar>

  <label class="toggle">
     <input type="checkbox">
     <div class="track">
       <div class="handle"></div>
     </div>
  </label>

  <h2>Toggles in a list</h2>

  <ul class="list">

    <li class="item item-toggle">
       HTML5
       <label class="toggle toggle-assertive">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </li>

    <li class="item item-toggle">
       CoffeeScript
       <label class="toggle toggle-royal">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </li>

    <li class="item item-toggle">
       SASS
       <label class="toggle toggle-balanced">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </li>

  </ul>

</div>